@import "mixins";

@panelShadow: 0 2px 4px rgba(0,0,0,0.25);

/* ===[ Fonts ]============================================================= */

@font-face {
	font-family: "Open Sans Light";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/OpenSans-Light-webfont.woff") format("woff"),
	     url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"),
	     url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),
	     url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"),
	     url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"),
	     url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"),
	     url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
}

/* ===[ Core ]============================================================== */

body {
	background: #FFF;
	color: #939598;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

#tabzilla-panel {
	z-index: 2;
}

.constrained {
	max-width: 900px;
	padding: 0 15px;
	margin: 0 auto;
}

a:link,
a:visited {
	text-decoration: none;
	color: #27AAE1;
}

h2,
.shout {
	font-family: "Open Sans Light", "Open Sans", sans-serif;
	font-size: 2.571em;
	font-weight: normal;
	color: #6D6E71;
}

h3 {
	font-size: 1.143em;
	font-weight: bold;
	color: #6D6E71;
	margin: 0 0 20px;
	padding: 0;
}

h4 {
	margin: 0;
	padding: 0;
}

p {
	font-size: 0.929em;
	line-height: 1.769em;
}

/* ===[ Header ]============================================================ */

#header {
	.box-shadow(~"0 0 5px rgba(0,0,0,0.5)");

	background: #FFF;
	background: rgba(255, 255, 255, 0.8);
	position: relative;
	z-index: 1;
}

#header p {
	display: none;
}

#header h1 {
	margin: 0;
	font-size: 2em;
	text-transform: lowercase;
	font-weight: normal;
}

#header h1 a {
	display: block;
	min-width: 85px;
	height: 70px;
	line-height: 70px;
	float: left;
	padding: 0 15px;
	margin-left: -15px;
	color: #48484B;
	position: relative;
}

#header h1 span {
	font-size: 0.357em;
	position: absolute;
	bottom: 50%;
	right: 50%;
	margin: 0 4em 1em 0;
	line-height: 1em;
}

/* ---[ Main Navigation ]--------------------------------------------------- */

#header ul {
	height: 70px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: bold;
}

#header li a {
	.transition(all 0.25s linear 0s);

	display: block;
	min-width: 70px;
	height: 70px;
	line-height: 70px;
	margin: 0 0 0 -1px;
	padding: 0 15px;
	float: left;
	text-align: center;
	border: solid #E1E2E3;
	border-width: 0 1px;
	position: relative;
}

#header li a:hover {
	background: rgba(255,255,255,0.5);
}

/* Given the small number of site sections, it's easier to just keep track of
   which part of the site we're on and use that to select a navigation item */

.section-projects #header .projects a,
.section-tools #header .tools a,
.section-events #header .events a {
	background: #ED1C24;
	color: #FFF;
	border: none;
	margin-right: 1px;
	text-shadow: -1px -1px #DD0C14;
}

.section-projects #header .projects a::after,
.section-tools #header .tools a::after,
.section-events #header .events a::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	border: solid transparent;
	border-width: 25px 50px 0 50px;
	border-top-color: #ED1C24;
}

@media screen and (max-width: 700px) {
	#header ul {
		clear: both;
		font-size: 0.8em;
		height: 30px;
		text-align: center;
		background: rgba(255,255,255,0.5);
		margin: 0 -15px;
	}

	#header li {
		display: inline-block;
	}

	#header li a {
		min-width: 50px;
		line-height: 30px;
		height: 30px;
		border: none;
		margin: 0;
		float: none;
	}

	.section-projects #header .projects a::after,
	.section-tools #header .tools a::after,
	.section-events #header .events a::after {
		border-width: 20px 40px 0 40px;
	}
}

/* ===[ Content ]=========================================================== */

#content {
	background: #F9F9F9 url(../img/bg-stone.png) 50% 0 repeat-x;
	min-height: 200px;
	margin-top: -70px;
	padding: 110px 0 40px;
	position: relative;
}

@media screen and (max-width: 700px) {
	#content {
		margin-top: -100px;
		padding-top: 140px;
	}
}

/* ---[ Brochure Content ]-------------------------------------------------- */

.brochure-page #content {
	margin-top: 530px;
	padding-top: 40px;
	border-top: solid 14px #6D6E71;
}

.brochure-page #content::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;
	background-color: #333;
	background-size: cover;
	background-position: 50% 50%;
	margin-top: -614px;
}

@media screen and (max-width: 900px) {
	.brochure-page #content {
		margin-top: 330px;
	}

	.brochure-page #content::before {
		margin-top: -414px;
		height: 400px;
	}
}

@media screen and (max-width: 700px) {
	.brochure-page #content {
		margin-top: 200px;
	}

	.brochure-page #content::before {
		margin-top: -314px;
		height: 300px;
	}
}

/* ---[ Map Content ]------------------------------------------------------- */

.map-page #content {
/*	min-height: 600px;*/
}

.map-page #map-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.map-page #content .constrained {
	position: relative;
	z-index: 1;
}

/* ===[ Footer ]============================================================ */

#footer {
	border-top: solid 1px #E1E2E3;
	overflow: hidden;
	padding: 50px 0;
	line-height: 25px;
}

#footer h2,
#footer .col {
	width: 25%;
	max-width: 180px;
	float: left;
	margin: 0;
	color: inherit;
}

#footer h2 {
	font-size: 1.571em;
	font-family: "Open Sans", sans-serif;
	line-height: 1em;
}

#footer h3 {
	margin: 0;
	font-size: 1em;
	line-height: 1em;
	padding: 0.571em 0;
	color: #939598;
}

#footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

@media screen and (max-width: 700px) {
	#footer {
		padding: 25px 0;
	}

	#footer h2 {
		float: none;
		width: 100%;
	}

	#footer .col {
		width: 33.33%;
		max-width: 500px;
		margin-top: 1em;
	}
}

@media screen and (max-width: 500px) {
	#footer .col {
		float: none;
		width: 100%;
	}
}

/* ===[ Buttons ]=========================================================== */

.button,
.button:link,
.button:visited {
	.box-shadow(~"0 2px 0 0 rgba(0, 0, 0, 0.1), 0 -2px 0 0 rgba(0, 0, 0, 0.2) inset");
	.transition(~"box-shadow 0.25s linear 0s");
	.gradient(~"#BBB, #777");
	.border-radius(0.25em);

	background-color: #999;
	background-repeat: repeat-x;
	border: 0 none;
	color: #FFFFFF;
	display: inline-block;
	font-family: arial, sans-serif;
	font-size: 1em;
	height: 2.5em;
	line-height: 2.5em;
	padding: 0 1.5em;
	margin: 0;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
}

.button:hover,
.button:link:hover,
.button:visited:hover {
	.box-shadow(~"0 2px 0 0 rgba(0, 0, 0, 0.1), 0 -2px 0 0 rgba(0, 0, 0, 0.2) inset, 0 12px 24px 2px #AAA inset");

	color: #FFFFFF;
	text-decoration: none;
}

.button:active,
.button:link:active,
.button:visited:active {
	.box-shadow(~"0 2px 0 0 rgba(0, 0, 0, 0.2) inset, 0 12px 24px 6px rgba(0, 0, 0, 0.2) inset, 0 0 2px 2px rgba(0, 0, 0, 0.2) inset");

	color: #FFFFFF;
	text-decoration: none;
}

.button::after {
	content: "\00A0\00BB";
}

/* ---[ Find Button ]------------------------------------------------------- */

.button.find,
.button.find:link,
.button.find:visited {
	.gradient(~"#3C88CC, #276195");

	background-color: #276195;
}

.button.find:hover,
.button.find:link:hover,
.button.find:visited:hover {
	.box-shadow(~"0 2px 0 0 rgba(0, 0, 0, 0.1), 0 -2px 0 0 rgba(0, 0, 0, 0.2) inset, 0 12px 24px 2px #3089D8 inset");
}

/* ---[ Create Button ]----------------------------------------------------- */

.button.create,
.button.create:link,
.button.create:visited {
	.gradient(~"#81BC2E, #659324");

	background-color: #659324;
}

.button.create:hover,
.button.create:link:hover,
.button.create:visited:hover {
	.box-shadow(~"0 2px 0 0 rgba(0, 0, 0, 0.1), 0 -2px 0 0 rgba(0, 0, 0, 0.2) inset, 0 12px 24px 2px #83C822 inset");
}

/* ===[ Page Components ]=================================================== */

/* ---[ Intro Bar ]--------------------------------------------------------- */

.intro-bar {
	.box-shadow(@panelShadow);

	background-color: #FFF;
	line-height: 50px;
	padding: 25px;
	margin: 0 0 35px;
	font-size: 1.714em;
	font-family: "Open Sans Light", "Open Sans", sans-serif;
	font-weight: 100;
	text-align: center;
}

.intro-bar h2,
.intro-bar p {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: normal;
	display: inline-block;
}

.intro-bar h2 {
	margin-right: 15px;
}

.intro-bar em {
	font-style: normal;
	margin: 0 15px;
}

.intro-bar .button {
	font-size: 0.75em;
}

@media screen and (max-width: 600px) {
	.intro-bar {
		padding: 10px;
	}

	.intro-bar h2 {
		margin: 0;
	}

	.intro-bar h2,
	.intro-bar p {
		display: block;
	}

	.intro-bar .button {
		display: block;
		margin: 10px 0 0;
	}

	.intro-bar em {
		display: none;
	}
}

/* ---[ Three Item Options ]------------------------------------------------ */

ul.tri-set {
	margin: 0 -15px;
	padding: 0 12px 0 0;
	list-style: none;
	overflow: hidden;
	text-align: center;
}

ul.tri-set li {
	.box-sizing(border-box);

	width: 33.33%;
	padding-left: 18px;
	margin-left: -3px;
	display: inline-block;
	text-align: left;
	position: relative;
	left: -3px;
	vertical-align: top;
}

ul.tri-set .thumb {
	.box-shadow(@panelShadow);
	.box-sizing(border-box);

	background: #FFF;
	display: block;
	padding: 8px;
	margin: 0 0 18px;
}

ul.tri-set img {
	display: block;
	width: 100%;
}

@media screen and (max-width: 700px) {
	ul.tri-set {
		margin: -15px;
		padding: 15px;
	}

	ul.tri-set li {
		width: 100%;
		display: block;
		clear: both;
		margin: 0;
		padding: 0;
		position: static;
	}

	ul.tri-set .thumb {
		float: left;
		width: 40%;
		max-width: 271px;
		margin: 0 18px 18px 0;
	}
}

@media screen and (max-width: 500px) {
	ul.tri-set li {
		margin-bottom: 32px;
	}
	ul.tri-set .thumb {
		width: auto;
		max-width: 500px;
		margin: 0 0 18px;
		float: none;
	}
}

/* ---[ Meta Tickers ]------------------------------------------------------ */

.meta-ticker dl {
    overflow: hidden;
    margin: -10px 0 0 -10px;
    padding: 0 0 18px 10px;
    line-height: 25px;
}

.meta-ticker dt {
    font-weight: bold;
    clear: both;
    margin: 0;
    padding: 10px 0 0 115px;
}

.meta-ticker dd {
    margin: 0;
    padding: 0;
}

.meta-ticker .thumb {
	.box-shadow(@panelShadow);

    display: block;
    float: left;
    border: solid 5px #FFF;
	background: #FFF;
    margin: -25px 10px 0 0;
}

.meta-ticker img {
	display: block;
	width: 95px;
	height: 95px;
}

.meta-ticker ol {
	display: none;
}

@media screen and (min-width: 901px) {
	.meta-ticker.enabled {
		.gradient(~"#3C3B3B, #2F2D2E 3px, #282324");
		.box-shadow(~"0 0 10px rgba(0,0,0,0.5)");
		.border-radius(5px);

		position: relative;
		background-color: #231F20;
		margin-left: 50px;
		padding: 15px 15px 15px 75px;
		text-shadow: 0 0 2px #000;
		color: #999;
	}

	.meta-ticker.enabled dl {
		margin: 0;
		padding: 0;
	}

	.meta-ticker.enabled h2,
	.meta-ticker.enabled h3 {
		display: none;
	}

	.meta-ticker.enabled dt,
	.meta-ticker.enabled dd {
		display: none;
		margin: 0;
		padding: 0;
	}

	.meta-ticker.enabled .active {
		display: block;
	}

	.meta-ticker.enabled dt {
		width: 30%;
		float: left;
		font-size: 1.5em;
		color: #EEE;
		margin-top: -5px;
		font-weight: normal;
		white-space: nowrap;
	}

	.meta-ticker.enabled dt::before {
		content: attr(data-label);
		display: block;
		text-transform: uppercase;
		font-size: 0.5em;
		color: #999;
	}

	.meta-ticker.enabled dd {
		width: 60%;
		float: right;
		font-size: 0.857em;
		padding-left: 5%;
		border-left: solid 1px #333;
	}

	.meta-ticker.enabled .thumb {
		.box-shadow(~"0 0 10px rgba(0,0,0,0.5)");

		border-radius: 50%;
		overflow: hidden;
		position: absolute;
		top: 50%;
		left: 0;
		margin: -52.5px 0 0 -50px;
	}

	.meta-ticker.enabled img {
		border-radius: 50%;
	}

	.meta-ticker.enabled ol {
		display: block;
		position: absolute;
		top: 100%;
		list-style: none;
		margin: 5px 0 0;
		padding: 0;
	}

	.meta-ticker.enabled li {
		float: left;
		display: block;
		font-size: 20px;
		font-weight: 100;
		width: 1em;
		height: 1em;
		line-height: 1em;
		text-align: center;
		margin: 0;
		padding: 0;
		cursor: pointer;
		color: #FFF;
		text-shadow: 0 0 5px rgba(0,0,0,0.5);
		outline: none;
		font-family: arial, sans-serif;
	}

	.meta-ticker.enabled li::after {
		content: "\025CB";
	}

	.meta-ticker.enabled li.active::after {
		content: "\025CF";
	}

	.meta-ticker.enabled li span {
		text-align: left;
		overflow: hidden;
		width: 0;
		display: block;
		float: left;
		text-indent: -999em;
	}
}

/* ---[ Forms ]------------------------------------------------------------- */

form {
	.box-shadow(@panelShadow);

	background: #FFF;
	margin: 0;
	padding: 50px;
}

form fieldset {
	border: none;
	border-bottom: solid 1px #E1E3E3;
	margin: 0 0 35px;
	padding: 0 18px 10px 0;
}

form ul,
form li {
	margin: 0;
	padding: 0;
	list-style: none;
}

form li {
	margin-bottom: 25px;
}

form .buttons {
	margin: 0;
	padding: 0;
	font-size: 1.286em;
}

form li,
form .buttons {
	margin-left: 165px;
}

form label {
	display: block;
	width: 143px;
	margin-left: -165px;
	text-align: right;
	float: left;
	font-size: 1.143em;
	line-height: 2.125em;
}

form textarea,
form input[type="email"],
form input[type="password"],
form input[type="text"],
form input[type="date"],
form input[type="time"] {
	.transition(box-shadow linear .1s);
	.border-radius(6px);
	.box-shadow(~"0 2px 1px rgba(0,0,0,0.1) inset");

	height: 1.714em;
	width: 100%;
	max-width: 450px;
	background: #FAFAFA;
	border-color: #DBDBDB;
	border-style: solid;
	border-width: 1px;
	padding: 4px 8px;
	font-size: inherit;
	line-height: 1.714em;
}

form input[type="date"],
form input[type="time"] {
	width: 40%;
	max-width: 200px;
	margin-right: 5%;
}

form textarea {
	resize: vertical;
}

form textarea:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="text"]:focus,
form input[type="date"]:focus,
form input[type="time"]:focus {
	.box-shadow(~"0 2px 1px rgba(0,0,0,0.1) inset,0 0 8px 0 rgba(103,167,208,0.6)");

	border-color: #BBB;
	outline: none;
}

@media screen and (max-width: 600px) {
	form li,
	form .buttons {
		margin-left: 0;
	}

	form label {
		margin-left: 0;
		margin-right: -18px;
		padding-bottom: 5px;
		text-align: left;
		float: none;
		line-height: 1em;
		width: auto
	}
}

/* ---[ Search Results, etc ]----------------------------------------------- */

.search-results {
	.box-shadow(@panelShadow);

	background: #FFF;
	background: rgba(255,255,255,0.5);
}

.search-results form {
	.box-shadow(none);
	.box-sizing(border-box);

	display: table;
	border-collapse: collapse;
	width: 100%;
	padding: 0;
	margin: 0;
	border: solid transparent;
	border-width: 25px 35px;
}

.search-results form .wrapper {
	display: table-row;
	padding: 0;
	margin: 0;
	border: none;
}

.search-results form .item {
	display: table-cell;
	white-space: nowrap;
	padding: 0 0 0 18px;
	margin: 0;
	border: none;
	vertical-align: middle;
	width: 100%;
}

.search-results h2.item {
	font-size: 1em;
	width: 0;
	padding: 0 18px 0 0;
}

.search-results label {
	float: none;
	margin: 0;
	padding: 0;
	font-size: 1.714em;
	line-height: 1.714em;
	width: auto;
	text-align: left;
}

.search-results input[type="text"] {
	margin-left: -18px;
}

.search-results input[type="text"]::-webkit-input-placeholder {
	text-transform: uppercase;
	font-size: 0.8em;
	line-height: 2.5em;
}

.search-results input[type="text"]:-moz-placeholder {
	text-transform: uppercase;
	font-size: 0.8em;
	line-height: 2.5em;
}

.search-results .buttons {
	margin: 0;
}

.search-results h3,
.search-results p {
	padding: 20px 30px 0;
	margin: 0 0 20px;
	border-top: solid 1px #DCDDDE;
}

.search-results ul,
.search-results ol {
	margin: 0;
	padding: 0 35px 35px;
	list-style: none;
}

.search-results li {
	.box-shadow(@panelShadow);

	background: #FFF;
	margin-top: 15px;
}

.search-results ul li a {
	display: block;
	padding: 20px 30px;
}

@media screen and (max-width: 900px) {
	.search-results form .wrapper {
		display: block;
	}

	.search-results h2.item {
		width: 100%;
		padding: 0;
		display: block;
	}
}

@media screen and (max-width: 700px) {
	.search-results .buttons.item {
		display: block;
		text-align: right;
		padding: 10px 35px 0 0;
	}
}

@media screen and (max-width: 500px) {
	.search-results form .item {
		display: block;
		margin: 10px 0 0;
		padding: 0;
		width: auto;
	}

	.search-results .item.location {
		margin-left: 18px;
	}

	.search-results select {
		width: 100%;
	}

	.search-results .buttons.item {
		padding-right: 0;
	}
}

/* ===[ Page Specific Settings ]============================================ */

/* ---[ Events Index Page ]------------------------------------------------- */

.bad-ie #events-index #content::before {
	background-image: url(http://placehold.it/2000x600/333);
}

@media screen and (min-width: 901px) {
	#events-index #content::before {
		background-image: url(http://placehold.it/2000x600/333);
	}

	#events-index .meta-ticker.enabled {
		position: absolute;
		bottom: 100%;
		left: 15px;
		right: 30%;
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 900px) {
	#events-index #content::before {
		background-image: url(http://placehold.it/900x400/333);
	}
}

@media screen and (max-width: 700px) {
	#events-index #content::before {
		background-image: url(http://placehold.it/700x300/333);
	}
}

#events-index #content .constrained {
	margin-top: -97px;
	position: relative;
}

#events-index ul.tri-set h4 {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 0.786em;
}

#events-index ul.tri-set p {
	font-size: 1em;
	margin-top: 0;
}

/* ---[ Guides ]-------------------------------------------------- */
.masthead {
	text-align: center;
  	padding-top: 60px;
  	text-transform: uppercase;
  	width: 320px;
  	margin: 0 auto;
}
.masthead .plaque {
  	background: #2bb673;
  	color: #fff;
  	display: inline-block;
  	margin-bottom: 0;
  	font-size: 1em;
  	letter-spacing: 2px;
  	padding: 0.5em 20px;
  	position: relative;
}
.masthead .plaque:after,
.masthead .plaque:before {
  	border-bottom: 17px solid #2bb673;
  	border-top: 17px solid #2bb673;
  	content: "";
  	position: absolute;
  	top: 0;
}
.masthead .plaque:after {
  	border-right: 17px solid transparent;
  	right: -17px;
}
.masthead .plaque:before {
  	border-left: 17px solid transparent;
  	left: -17px;
}
.masthead p {
  	padding: 0 60px;
  	position: relative;
  	margin: 1em 20px;
}
.masthead p:after,
.masthead p:before {
  	position: absolute;
  	top: 50%;
  	background: #d3d1d2;
  	height: 1px;
  	width: 60px;
  	content: "";
  	display: block;
}
.masthead p:after {
	right: 0;
}
.masthead p:before {
	left: 0;
}
#guides-index h3.shout {
    text-align: center;
}
#guides-index .tri-set h3 {
	color: #27AAE1;
  	margin-bottom: 0;
}
#guides-index .tri-set p {
  	margin-top: 0;
}
/* inner guide pages */
.guides-inner #content .constrained {
	margin-top: -500px;
	position: relative;
	width: 60%;
	.box-sizing(border-box);
}
.major {
	background: rgba(255, 255, 255, 0.5);
	padding-bottom: 3em;
}
.major nav {
	background: #fff;
	padding: 2em 50px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}
.major nav ol {
	float: left;
	margin: 0;
	padding: 0;
}
.major nav li {
	padding-left: 0;
	float: left;
	font-size: 16px;
	line-height: 2em;
}
.major nav a,
.major nav span {
	padding: 0 10px;
	border-right: 1px solid #939598;
}
.major nav li:first-child a,
.major nav li:first-child span {
	padding-left: 0;
}
.major nav li:last-child a,
.major nav li:last-child span {
border-right: none;
}
.major nav .button {
	float: right;
}
.major article {
	margin: 3em 50px 0;
	padding: 0 50px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	padding-bottom: 2em;
	position: relative;
}
.major article:after {
	content: "";
	position: absolute;
	top: -3em;
	left: 0;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	border-top: 17px solid #fff;
}
.major section {
	border-top: 1px solid #939598;
	margin-top: 2em;
	padding-top: 2em;
}
.major section:first-child {
	border-top: none;
}