<li class="h-event vevent{% if event.official %} official{% endif %}">
    <div class="about">
        <h4><a class="p-name summary u-url url" href="{% if event.bsd_hosted() %}{{ event.event_url }}{% else %}{{ url('event', event.hash) }}{% endif %}">{{ event.name }}</a></h4>
        {% if event.start and event.end %}
            {% if event.start.date() == event.end.date() %}
            <p class="date">
                <time class="dt-start dtstart" datetime="{{ event.start.strftime('%F %T') }}">{{ event.start.strftime('%B %-d, %Y %-I:%M %p') }}</time>
                {# note: BSD reports events with no endtime as ending a minute after the starttime - which is rather poor #}
                {% if event.start.strftime('%s') < event.end.strftime('%s') %}
                to <time class="dt-end dtend" datetime="{{ event.end.strftime('%F %T') }}">{{ event.end.strftime('%-I:%M %p') }}</time>
                {% endif %}
            </p>
            {% else %}
            <p>
                <time class="dt-start dtstart" datetime="{{ event.start.strftime('%F %T') }}">{{ event.start.strftime('%B %-d, %Y %-I:%M %p') }}</time> to 
                <time class="dt-end dtend" datetime="{{ event.end.strftime('%F %T') }}">{{ event.end.strftime('%-I:%M %p on %B %-d') }}</time>
            </p>
            {% endif %}
        {% endif %}
        <p class="p-location location">{{ event.venue.street_address|replace('\r\n', ', ') }}<br><a href="{{ url('events.country', code=event.venue.country.code|lower) }}">{{ event.venue.country.name }}</a></p>
        <a class="type" href="{{ url('guides_%s' % event.kind.slug) }}">{{ event.kind.name }}</a>
    </div>
    {% if event.campaign %}
    <a class="campaign" href="{{ url('about') }}">
        {% if event.campaign.logo -%}
        <img src="{{ event.campaign.logo.url }}" width="{{ event.campaign.logo.width }}" height="{{ event.campaign.logo.height}}">
        {%- endif %}
        Part of {{ event.campaign.name }}
    </a>
    {% endif %}
    {% if event.start %}
        <div class="date">
            <span class="day">{{ event.start.strftime('%A') }}</span>
            <span class="month">{{ event.start.strftime('%B') }}</span>
            <span class="date">{{ event.start.strftime('%-d') }}</span>
            {# <span class="year">{{ event.start.strftime('%Y') }}</span> #}
        </div>
    {% endif %}
    {% if editable %}
    <div class="edit-links">
        <ul>
        {% if event.source == 'bsd' %}
            <li><a class="button create" href="https://donate.mozilla.org/page/event/edit_details?event_id={{ event.source_id }}">Edit</a></li>
        {% else %}
            <li><a class="button create" href="{{ url('event.edit', event_hash = event.hash) }}">Edit</a></li>
        {% endif %}
            <li><a class="button delete" href="{{ url('event.delete', event_hash = event.hash) }}">Delete</a></li>
        </ul>
    </div>
    {% endif %}
</li>
