<form>
    <div class="wrapper">
        <h2 class="item"><label for="input-location">Find an event</label></h2>
        <span class="item location"><input type="text" id="input-location" name="location" value="{{ location }}" placeholder="Enter a CITY, COUNTRY or EVENT name"></span>
        {# <span class="item type"><select name="type">
            <option>Summer Code Party Events</option>
        </select></span> #}
        <p class="buttons item"><input type="submit" class="button find" value="Search events"></p>
    </div>
</form>
