{% extends "base.html" %}

{% block page_title %}Events | {{ super() }}{% endblock %}

{% block section_type %}events{% endblock %}

{% block legal_links %}
<ul>
	<li><a href="{{ url('about') }}">About Us</a></li>
    <li><a href="mailto:joinmozilla@mozilla.org">Contact Us</a></li>
    <li><a href="{{ url('events_privacy') }}">Privacy Policy</a></li>
    <li><a href="{{ url('events_terms') }}">Terms of Use</a></li>
    <li><a href="http://www.mozilla.org/en-US/about/legal.html">Legal Notices</a></li>
</ul>
{% endblock %}
{% block admin_menu_items %}
{% if request.user and request.user.is_authenticated() %}
<li><a href="{{ url('events.mine') }}">My events</a></li>
{% endif %}
{% endblock %}
