{% extends "events/base.html" %}

{% block page_title %}About | {{ super() }}{% endblock %}
{% block page_id %}about{% endblock %}

{% block content %}
<div class="words">
<section class="intro">
<h2>Join the Mozilla Summer Code Party</h2>  
<div class="columns">
    <div class="col main">
        <p>We're building a generation of webmakers. First step: invite people everywhere to MEET up to MAKE something cool and LEARN how the code behind the web works. It's called the Summer Code Party and it starts June 23rd. Mozilla and dozens of other organizations are getting together to make this happen.</p>
        <img src="{{ MEDIA_URL }}img/faux_map.jpg" alt="" />    
    </div>
    <div class="col meta">
        <h3>Here's how you join in:</h3>
        <ol class="join_in">
            <li class="icon meet"><span>1</span> Meet with friends or go to an event.</li>
            <li class="icon make"><span>2</span> Make something cool on the web.</li>
            <li class="icon learn"><span>3</span> Learn how the web gets made.</li>
        </ol>
    </div>
</div>
</section> 
<section class="involve">
<h3 class="head">Get Involved</h3>  
<div class="columns">
    <div class="col main icon">
        <h4>Teach. Meet. Learn. Share.</h4>
        <p>Want to create a prettier template for your blog? Or make your latest YouTube video cooler? Or just learn a bit of HTML by remixing your favorite webpage? We'll have tools, tutorials and activites to help. Get started by creating an event or see if there's one near you already.</p>
        <p><a class="button find" href="{{ url('events.search') }}">Find an Event</a> or <a href="https://donate.mozilla.org/page/event/create/" class="button create">Create an event</a></p>
    </div>
    <div class="col meta">
        <h4 class="icon find">Find a project</h4>
        <p>Make something awesome. Browse our gallery of DIY projects <b>(coming soon)</b> to bring out the Webmaker in you.</p>
        <h4 class="icon host">Hosting an event?</h4>
        <p>Our Event Guides will help you get started. Learn more about how you can throw a great event. <a href="{{ url('guides_all') }}">Browse Event Guides</a>.</p>
    </div>
</div>
</section> 
<section class="happening">
<h3 class="head">What's Happening?</h3>  
<div class="columns equal">
    <div class="col">
        <h4 class="icon what">What?</h4>
        <p>Meetups and events where you learn how to make things for the web.</p>
        <h4 class="icon when">When?</h4>
        <p>June 23 - Sept 23, kicking off with a Global Weekend of Code.</p>
        <h4 class="icon where">Where?</h4>
        <p>Anywhere. Your kitchen table. Your office. Your local library.</p>
    </div>
    <div class="col">
        <h4 class="icon why">Why?</h4>
        <p>We believe everyone should know how to create and code on the web.</p>
        <h4 class="icon how">How?</h4>
        <p>Organize a meet-up. Volunteer to teach. Or become a partner.</p>
    </div>
</div>
</section> 
<section class="partners">
<h3 class="head">Who's coming to the party?</h3>  
<div class="columns">
    <div class="col main">
        <ul class="our_partners">
            {% for p in partners %}
            <li><a href="{{ p.website }}"><img src="{{ p.logo.url }}" alt="{{ p.name }}" /></a></li>
            {% endfor %}
        </ul>
        <p><a href="{{ url('partners', slug = campaign.slug) }}">See all 2012 Partners</a></p>
    </div>
    <div class="col meta">
        <h4 class="icon become">Become a Partner Organization</h4>
        <p>Add your name to the list!</p>
        <p><a class="button create" href="https://donate.mozilla.org/page/s/Summer-Code-Partner?source=about">Sign us up</a></p>
        <h5>Hosting an event?</h5>
        <p>Interested in becoming a partner organization? Learn more with our Partner Kit, to see how you can get involved.</p>
    </div>
</div>
</section> 
<section class="faq">
<h3 class="head">FAQs</h3>  
<div class="columns">
    <div class="col main">
        <h4>What is Mozilla's Summer Code Party?</h4>
        <p>It's Mozilla's big summer campaign. Kicking off June 23rd and running all summer long. It's all about helping people learn the basics of coding and the web by making and building together. With tools, resources and events that make it easy and social. It's 100% free, open and fun.</p>
        <h4>Who should come?</h4>
        <p>Anyone who wants to learn the web, learn how to code and make stuff with new tools. Or just increase your general web literacy.</p>
        <ul>
            <li>Volunteer teachers and instructors. From code Yodas and ninjas to peer learning around your own kitchen table.</li>
            <li>Developers, designers, open web geeks. Help build learning tools, resources and curriculum.</li>
            <li>Partners organizations and communities. Gather under our big summer umbrella, so that we can all make and learn together.</li>
        </ul>
        <h4>What is Mozilla bringing to the party?</h4>
        <ul>
            <li>Tools. Software, authoring tools and webmaker apps that take the fear out of code and help people learn by making.</li>
            <li>Resources. Recipes, kits, curriculum and how-tos. Fun summer projects anyone can take on quickly. The web equivalent of building your first birdhouse. Or light saber.</li>
            <li>Events. Festivals, camps, learning labs and kitchen table meet-ups around the world. Plus a platform and way to share your own meet-ups, courses, teach-ins or kitchen table makefests.</li>
        </ul>
    </div>
    <div class="col meta">
        <h4>Throwing an Event?</h4>
        <p><a href="{{ MEDIA_URL }}downloads/summer_code_party-promo-pack.zip" class="poster"><img src="{{ MEDIA_URL}}img/poster.jpg" alt="" />Download a poster and postcard kit to promote your event (.zip file)</a></p>
    </div>
</div>
</section> 
</div>
{% endblock %}
