{% extends "events/base.html" %}

{% block page_id %}code-party-index{% endblock %}
{% block page_class %}{{ super() }} brochure-page{% endblock %}

{% block content %}

<div class="intro-bar">
    <h2>Teach. Meet. Learn. Share.</h2>
    <p><a href="{{ url('events.search') }}" class="button find">Find an Event</a> <em>or</em> <a href="https://donate.mozilla.org/page/event/create/" class="button create">Create an Event</a></p>
</div>

<div class="summer_info">
    <h2>Teaching the world to code</h2>
    <p>We're building a generation of webmakers. First step: invite people everywhere to <em>meet</em> up to <em>make</em> something cool and <em>learn</em> how the code behind the web works. It's called the Summer Code party and it starts June 23rd.</p>
    <a href="{{ url('about') }}" class="button create">Learn more</a>
    <ul class="outcomes">
        <li>meet</li>
        <li class="make">make</li>
        <li class="learn">learn</li>
    </ul>
</div>

<h3>What's New with Webmaker Events?</h3>

<ul class="tri-set">
    <li>
        <a href="{{ url('events.search') }}" class="thumb"><img src="../media/img/events_map.png" alt=""></a>
        <h4>Events are live!</h4>
        <p><a href="{{ url('events.search') }}">Learn with Friends Near You</a></p>
    </li>
    <li>
        <a href="{{ url('guides_all') }}" class="thumb"><img src="../media/img/guides.gif" alt=""></a>
        <h4>Create your event</h4>
        <p><a href="{{ url('guides_all') }}">Our Handy Guides will Help!</a></p>
    </li>
    <li>
        <a href="{{ url('about') }}" class="thumb"><img src="../media/img/code_party.jpg" alt=""></a>
        <h4>Announcing:</a></h4>
        <p><a href="{{ url('about') }}">The Mozilla Summer Campaign</a></p>
    </li>
</ul>
{% endblock %}

{% block footer %}
{{ super() }}
{{ js('core_js') }}
{% endblock %}
