{% extends "base.html" %}

{% block page_title %}Hall of Fame | {{ super() }}{% endblock %}

{% block page_id %}hoc_2012{% endblock %}
{% block page_class %}content-page{% endblock %}

{% block content %}
<section class="hoc_intro">
    <div class="content">
        <!-- hall of fame intro -->
        <img class="block_img" alt="Mozilla Webmaker Hall of Fame" src="{{ MEDIA_URL }}assets/hoc_2012/header.jpg" />
        <h2 class="announce">The Webmaker Hall of Fame wants YOUR Contribution!</h2>
        <p><strong>Share your highlights with us!</strong> What was the most amazing thing you made or saw this summer? Who inspired you, taught you, or helped you most? Who should the <a href="https://webmaker.org">Mozilla Webmaker</a> and <a href="https://webmaker.org/en-US/events/">Summer Code Party</a> community learn about, or get to know? Tell us here.</p>
        <p><a class="button create" href="http://mozillawebmaker.tumblr.com/submit">Submit to the hall of fame</a></p>
    </div>
</section>
<section class="hoc_bests">
    <div class="content">
        <ul class="project-flyer-list">
            <li>
                <div class="project-flyer">
                    <a href="http://mozillawebmaker.tumblr.com/post/32320281043/best-webmaker-creations-of-the-summer-popcorn">
                        <img src="{{ MEDIA_URL }}assets/hoc_2012/icon_popcorn.jpg" alt="" >
                        <h3 class="title">Best Popcorn</h3>
                    </a>
                </div>
            </li>
            <li>
                <div class="project-flyer">
                    <a href="http://mozillawebmaker.tumblr.com/post/32320309556/best-webmaker-creations-of-the-summer-thimble">
                        <img src="{{ MEDIA_URL }}assets/hoc_2012/icon_thimble.jpg" alt="" >
                        <h3 class="title">Best Thimble</h3>
                    </a>
                </div>
            </li>
            <li>
                <div class="project-flyer">
                    <a href="http://mozillawebmaker.tumblr.com/post/32320319115/best-ideas-and-innovations-popcorning-barcelona">
                        <img src="{{ MEDIA_URL }}assets/hoc_2012/icon_ideas.jpg" alt="" >
                        <h3 class="title">Ideas & Innovations</h3>
                    </a>
                </div>
            </li>
            <li>
                <div class="project-flyer">
                    <a href="http://mozillawebmaker.tumblr.com/post/32320329058/best-photos-of-the-summer-code-party">
                        <img src="{{ MEDIA_URL }}assets/hoc_2012/icon_photos_02.jpg" alt="" >
                        <h3 class="title">Best Photos</h3>
                    </a>
                </div>
            </li>
            <li>
                <div class="project-flyer">
                    <a href="http://mozillawebmaker.tumblr.com/post/32320321473/best-stories-zainab-oni-dont-be-a-user-be-a">
                        <img src="{{ MEDIA_URL }}assets/hoc_2012/icon_story.jpg" alt="" >
                        <h3 class="title">Best Stories</h3>
                    </a>
                </div>
            </li>
            <li>
                <div class="project-flyer">
                    <a href="http://mozillawebmaker.tumblr.com/post/32320332027/more-of-summer-code-partys-best-photos">
                        <img src="{{ MEDIA_URL }}assets/hoc_2012/icon_photos_03.jpg" alt="" >
                        <h3 class="title">Best Photos</h3>
                    </a>
                </div>
            </li>
            <li>
                <div class="project-flyer">
                    <a href="http://mozillawebmaker.tumblr.com/post/32320325589/amazing-mentors-educators-zainab-oni-hivenyc">
                        <img src="{{ MEDIA_URL }}assets/hoc_2012/icon_mentor.jpg" alt="" >
                        <h3 class="title">Mentors & MozReps</h3>
                    </a>
                </div>
            </li>
            <li>
                <div class="project-flyer">
                    <a href="http://mozillawebmaker.tumblr.com/post/32320315640/best-guest-intructors-cory-doctorow-where">
                        <img src="{{ MEDIA_URL }}assets/hoc_2012/icon_special_guest_01.jpg" alt="" >
                        <h3 class="title">Special Guests</h3>
                    </a>
                </div>
            </li>
            <li>
                <div class="project-flyer">
                    <a href="http://mozillawebmaker.tumblr.com/post/32320312451/amazing-summer-code-party-events-storycamp">
                        <img src="{{ MEDIA_URL }}assets/hoc_2012/icon_events.jpg" alt="" >
                        <h3 class="title">Events</h3>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="hoc_outro">
    <div class="content">
        <img src="{{ MEDIA_URL }}assets/hoc_2012/footer_half_graphic.jpg" alt="" />
        <p><b><i>Get more involved.</i></b></p>
        <p><b>What did we make together at MozParty?</b></p>   
        <ul>
            <li><b>724</b> Summer Code Party events'</li>
            <li>...spread across <b>79</b> countries...</li>
            <li>...reaching more than <b>5,305</b> people!</li>
            <li>Visit the <a href="http://mozillawebmaker.tumblr.com/archive" target="_blank">Mozilla Webmaker Tumblr</a> for a great birds-eye view of <i>everything</i> from the whole summer.</li>
        </ul>
        <p><b>Help us make the Hall of Fame better!</b></p>   
        <ul>
            <li>Suggest <a href="http://mozillawebmaker.tumblr.com/submit" target="_blank">people, projects and content</a>.</li>
            <li>Suggest <a href="http://mozillawebmaker.tumblr.com/submit" target="_blank">new categories to add</a>.</li>
            <li>Give us a shout on the <a href="https://lists.mozilla.org/listinfo/webmaker" target="_blank">Webmaker newsgroup</a>, <a href="https://twitter.com/mozilla/" target="_blank">Twitter</a> or <a href="https://wiki.mozilla.org/Webmakers/Community_Calls" target="_blank">weekly calls</a>.</li>
        </ul>
        <p><b>What comes next?</b></p>
         <ul>
            <li>Mozilla Festival 2012 is coming soon!</li>
            <li><a href="http://mozillafestival.org/" target="_blank">Click here to find out about this year's Mozilla Festival.</a></li>
            <li> November 9 – 11, 2012, London, UK Ravensbourne</li>
        </ul>
        <p><b>Feeling inspired? Join Mozilla and help us make something worth sharing.</b><br /><a class="button create" href="https://donate.mozilla.org/page/contribute/join-mozilla?source=join_link">Join Us!</a></p>
    </div>
</section>
{% endblock %}

{% block footer %}
{{ super() }}
{{ js('core_js') }}
{% endblock %}
