{% extends "events/base.html" %}

{% block page_title %}Summer Code Party Hall of Fame, 2012 | {{ super() }}
{% endblock %}

{% block page_id %}hoc_2012{% endblock %}
{% block page_class %}{{ super() }} content-page{% endblock %}

{% block content %}
<section>
    <header>
        <h2>Summer Code Party Hall of Fame</h2>
    </header>
    <div class="content">
        <!-- hall of fame intro -->
        <img class="block_img  wp-image-6576" title="Mozilla Webmaker Hall of Fame" src="{{ MEDIA_URL }}/assets/hoc_2012/Mozilla-Webmaker-Hall-of-Fame.jpg" alt="" width="543" height="187" />
        <h3>The new Webmaker Hall of Fame wants YOU</h3>
        <p><strong>Who should be here?</strong> What was the most amazing thing you made or saw this summer? Who inspired you, taught you, or helped you most? Who should the <a href="https://webmaker.org">Mozilla Webmaker</a> and <a href="https://webmaker.org/en-US/events/">Summer Code Party</a> community stand up and cheer?</p>
        <p><a class="button create" href="http://mozillawebmaker.tumblr.com/submit">Submit to the hall of fame</a></p>
        <!-- initial shout out for action -->
        <img class="block_img" title="Mozilla Summer Code Party map" src="{{ MEDIA_URL }}/assets/hoc_2012/retouched/tumblr_archive.jpg" alt="" />
        <p><strong>The <a href="http://mozillawebmaker.tumblr.com" target="_blank">Mozilla Webmaker Tumblr</a> tells the story</strong>. <a href="http://mozillawebmaker.tumblr.com/archive">Click here</a> for a great birds-eye view of <em>everything</em> from the whole summer. </p>
        <h3 class="sub">What's missing?</h3>
        <p><strong>The short answer: YOU!</strong> We need YOUR projects, YOUR favorites photos, and YOUR greatest moments for this page. Let's build this Hall of Fame together. We'll be making updates weekly.</p>
        <p><a class="button create" href="http://mozillawebmaker.tumblr.com/submit">Submit your stuff here – it's EASY! </a></p>
    </div>
</section>
<section>
    <header><h2>Mozilla's Summer Code Party</h2></header>
    <div class="content">   
        <img src="{{ MEDIA_URL }}/assets/hoc_2012/retouched/worldmap.jpg" alt="" class="block_img" />
        <h3>What did we make together at MozParty?</h3>
        <ul>
            <li><strong>724</strong> Summer Code Party events'</li>
            <li>...spread across <strong>79</strong> countries...</li>
            <li>...reaching more than <strong>5,305</strong> people!</li>
        </ul>
        <h3 class="sub">Best Summer Code Party photos</h3>
        <img src="{{ MEDIA_URL }}/assets/hoc_2012/retouched/photos.jpg" alt="" class="block_img" />
        <ul>
            <li><a href="http://www.flickr.com/photos/mozilladrumbeat/galleries/72157631590359710/with/7521909432/">A gallery with our top 15 favorites from the summer</a>.</li>
            <li><a href="http://www.flickr.com/photos/mozilladrumbeat/galleries/72157631590759165/">Plus a second gallery &ndash; because we couldn't make up our minds! </a></li>
            <li><a href="http://www.flickr.com/photos/mozilladrumbeat/favorites/">Plus all our other favorites from Flickr</a>.</li>
        </ul>
        <p><strong>What's missing for the Hall of Fame?</strong><br /><a class="button create" href="http://mozillawebmaker.tumblr.com/submit">Submit other great photos</a></p>
        <h3 class="sub">Mozilla Reps who made a difference:</h3>
        <img src="{{ MEDIA_URL }}/assets/hoc_2012/retouched/MozReps.jpg" alt="" class="block_img" />
        <ul>
            <li><a href="https://reps.mozilla.org/u/gautha91/"><strong>Gauthramraj Elango</strong></a>: for helping Unatti, an 11-year-old aspiring webmaker in India, overcome roadblocks and go on an <a href="http://www.zythepsary.com/techie/the-power-of-contribution/">epic webmaking adventure</a>.</li>
            <li><a href="https://reps.mozilla.org/u/ioana_chiorean/"><strong>Ioana Chiorean</strong></a>: for organizing an epic <a href="http://www.flickr.com/photos/mozilladrumbeat/sets/72157630287123708/">48-hour hackathon</a> in Cluj, hacking on Firefox OS apps and more.</li>
            <li><a href="https://reps.mozilla.org/u/sayak_bugsmith/"><strong>Sayak Sarkar</strong></a> and <a href="https://reps.mozilla.org/u/FaisalAziz/"><strong>Faisal Aziz</strong></a>: for hosting several amazing MozParty events in India, including a giant wrap-up &amp;"MozCarnival" and <a href="http://mozillawebmaker.tumblr.com/post/29907564698/fun-thimble-makes-sayak-is-a-superstar-mozrep">inspiring new webmakers</a>.</li>
            <li><a href="https://reps.mozilla.org/u/JeanAustinR/"><strong>Jean Austin</strong></a>: for co-ordinating diverse and confidence-building events in the Philippines. In his words: "<a href="http://www.jeanaustinr.com/blog/we-teach-people-how-to-code-and-we-make-them-love-it/" target="_blank">We teach people how to code and we make them love it.</a>"</li>
            <li><strong>Miguel Paz</strong>: for hosting an experimentation lab for journalists in Santiago Chile, "<a href="http://poderomedia.openphoto.me/photos/album-1/list">Journalism Needs Nerds.</a>"</li>
        </ul>
        <p><strong>Who's missing from this list?</strong> <br><a class="button create" href="http://mozillawebmaker.tumblr.com/submit"><strong>Nominate a Mozilla Rep now</strong></a>.</p>
        <h3 class="sub">Amazing instructors, mentors and educators</h3>
        <img src="{{ MEDIA_URL }}/assets/hoc_2012/retouched/instructors.jpg" alt="" class="block_img" />
        <ul>
            <li><strong>Zainab Onni</strong>, HiveNYC Ambassador Extraordinaire, for leading by example and <a href="http://mozillawebmaker.tumblr.com/post/28418115205/dont-be-a-user-be-a-maker-by-zainab-oni" target="_blank">being a constant advocate for Webmaking</a> through her efforts at HIVENYC.</li>
            <li><strong>Emma Irwin</strong>, a MozRep and busy mother volunteering to help <a href="http://tiptoes.ca/?p=491" target="_blank">lead Webmaker</a> in Victoria, BC.</li>
            <li><strong>Kimberly Bryant</strong>, founder of <a href="http://www.blackgirlscode.com/">Black Girls Code</a>, who led an inspiring series of <a href="http://www.blackgirlscode.com/1/post/2012/07/no-sleep-till-brooklyn-blackgirlscode-summer-of-code.html" target="_blank">MozParties in Chicago, Atlanta and San Francisco</a>.</li>
            <li><strong>And many, many more</strong> we're waiting for you to tell us about.</li>
        </ul>
        <p><strong>Who were the people that inspired you most this summer?</strong><br><a class="button create" href="http://mozillawebmaker.tumblr.com/submit">Nominate a teacher, instructor or mentor</a></p>
        <h3 class="sub">Best blog posts</h3>
        <img src="{{ MEDIA_URL }}/assets/hoc_2012/retouched/blog-posts.jpg" alt="" class="block_img" />
        <ul>
            <li><strong>Zainab Oni</strong>: "<a href="http://openmatt.org/wp-admin/www.huffingtonpost.com/zainab-oni/dont-be-a-user-be-a-maker_b_1707877.html">Don't be a User, Be a Maker</a>"</li>
            <li><strong>Jean Austin</strong>: "<a href="http://www.jeanaustinr.com/blog/we-teach-people-how-to-code-and-we-make-them-love-it/">We teach people how to code and we make them love it</a>"</li>
            <li><strong>Brett Gaylor</strong>: "<a href="http://brettgaylor.tumblr.com/post/27858089761/listening-to-a-mozillian">Listening to a Mozillian</a>"</li>
            <li><strong>Paul Bien</strong>: <a href="http://mozillawebmaker.tumblr.com/post/26207440781/via-paulitical-satire-investing-in-our-future">Video blog on the future of digital literacy, webmaking and education.</a></li>
            <li><strong>Laura Hilliger</strong>: "<a href="http://www.zythepsary.com/techie/the-power-of-contribution">The Power of Contribution</a>"</li>
        </ul>
        <p><strong>What's missing for the Hall of Fame?</strong><br><a class="button create" href="http://mozillawebmaker.tumblr.com/submit">Suggest other great Summer Code Party blog posts</a></p>
        <h3 class="sub">Best Guest Intructors:</h3>
        <img src="{{ MEDIA_URL }}/assets/hoc_2012/retouched/inspiration.jpg" alt="" class="block_img" />
        <ul>
            <li><strong>Cory Doctorow</strong>: "<a href="http://www.youtube.com/watch?v=-bUtu7Fj9UA&amp;feature=plcp">Where Creativity Comes From</a>"</li>
            <li><strong>OK GO's Damian Kulash</strong>: "<a href="http://www.youtube.com/watch?v=g3BGbktjNiw&amp;feature=plcp" target="_blank">Why Things Go Viral</a>"</li>
            <li><strong>Douglas Rushkoff</strong>: "<a href="http://www.youtube.com/watch?v=2kvw-KrmLqw&amp;feature=plcp">Get on the Spaceship</a>"</li>
            <li><strong>Greg Pak</a></strong>: "<a href="http://www.youtube.com/watch?v=7LbKVRix-Nw&amp;feature=plcp">Working with Multimedia</a>"</li>
            <li><strong>Tommy Pallotta</a></strong>: "<a href="http://www.youtube.com/watch?v=f-WU1ZuZ6Ug&amp;feature=plcp">How to be a Robot and Tell Stories</a>"</li>
            <li><strong>Anita Sarkeesian</a></strong>: "<a href="http://www.youtube.com/watch?v=n1qJz1k3k4k&amp;feature=plcp">Talking Back to the Media</a>"</li>
        </ul>
        <p><strong>What's missing from this list?</strong><br><a class="button create" href="http://mozillawebmaker.tumblr.com/submit">Nominate a video for the Hall of Fame</a>.</p>
    </div>
</section>
<section>
    <header>
        <h2>Best Webmaker Creations of the Summer</h2>
    </header>
    <div class="content">
        <h3>Popcorn</h3>
        <img src="{{ MEDIA_URL }}/assets/hoc_2012/retouched/popcorn.jpg" alt="" class="block_img" />
        <ul>
            <li><a href="http://mozillawebmaker.tumblr.com/tagged/Make-Your-Own-Professional-Newscast" target="_blank">Best interactive newscasts</a><a href="http://mozillawebmaker.tumblr.com/tagged/Make-your-own-professional-looking-newscast"></a></li>
            <li><a href="http://mozillawebmaker.tumblr.com/tagged/Make-your-own-robot-invasion-video" target="_blank">Best robot invasion videos </a></li>
            <li><a href="http://mozillawebmaker.tumblr.com/tagged/Make-a-popup-video" target="_blank">Best pop-up videos</a><em><strong></strong></em></li>
        </ul>
        <p><strong>What's missing for the Hall of Fame?</strong><br><a href="http://mozillawebmaker.tumblr.com/submit" class="button create">Nominate other Popcorn projects</a> or <a class="button find" href="https://webmaker.org/en-US/projects/?tool=popcorn#filter">make your own now</a> </p>
        <h3 class="sub">Thimble</h3>
        <img src="{{ MEDIA_URL }}/assets/hoc_2012/retouched/thimbles.jpg" alt="" class="block_img" />
        <ul>
            <li><a href="http://mozillawebmaker.tumblr.com/post/27054887730/hectic-summer-relax-and-refresh-mozpartiers" target="_blank">Best animated GIFs</a></li>
            <li><a href="http://mozillawebmaker.tumblr.com/tagged/MAKE-YOUR-OWN-MEME" target="_blank">Best "Make Your Own Memes"</a></li>
            <li><a href="http://mozillawebmaker.tumblr.com/post/29052140570/thimble-makes-click-the-image-above-to-see-the" target="_blank">Best vintage 3D web pages</a></li>
            <li><a href="http://mozillawebmaker.tumblr.com/tagged/Make-Your-Own-Animal">Best "Make Your Own Animal" projects</a></li>
            <li><a href="http://mozillawebmaker.tumblr.com/post/25738028840/aidens-awesome-map-w-embedded-minecraft-parody" target="_blank">Best "Make a Map of Your World on the Web"</a></li>
            <li><a href="http://chloeatplay.tumblr.com/post/29421503442/robots-localization-future-libraries-mozparty-in" target="_blank">Best "How-To's"</a>: Using Thimble to create a "How to Make Your Own Robot". From a MozParty in Greece.</li>
            <li><a href="http://mozillawebmaker.tumblr.com/post/25840612359/im-a-first-time-webmaker-avatar-remix-on" target="_blank">Best Webmaker avatars</a></li>
            <li><a href="http://mozillawebmaker.tumblr.com/post/29907564698/fun-thimble-makes-sayak-is-a-superstar-mozrep" target="_blank">Best "Bakery Bash" games</a></li>
            <li><a href="http://mozillawebmaker.tumblr.com/post/27058154280/perhaps-he-wasnt-feeling-his-best-but-kai-age" target="_blank">Best web page remixes with X-Ray Goggles</a></li>
            <li><a href="http://mozillawebmaker.tumblr.com/post/27561824262/fun-thimble-makes-rhonda-dovespans-more" target="_blank">Best Internet Defense League pages</a></li>
            <li><a href="http://mozillawebmaker.tumblr.com/post/26696515419/a-great-remix-of-bunny-masher-by-turea-alexandru" target="_blank">Best "Bunny Masher" remixes</a></li>
            <li><a href="http://mozillawebmaker.tumblr.com/tagged/speak-your-mind" target="_blank">Best "Speak Your Mind" pages</a></li>
        </ul>
        <p><strong> What's missing for the Hall of Fame?</strong><br><a class="button create" href="http://mozillawebmaker.tumblr.com/submit">Nominate other Thimble projects</a> or <a class="button find" href="https://webmaker.org/en-US/projects/?tool=popcorn#filter">make your own now</a></p>
        <h3 class="sub">Amazing Summer Code Party Events</h3>
        <ul>
            <li><a href="http://maker.mozillapopcorn.org/storycamp/cinema.html" target="_blank">StoryCamp</a> included a <a href="http://maker.mozillapopcorn.org/storycamp/cinema.html">six-chapter toolkit</a> with videos, projects, templates, visuals and reading to walk students through the process of creating a web-native film.</li>
            <li><a href="http://imagination.com/en/labs/2012/07/data-live-%E2%80%93-knight-mozilla-open-news-fellowship-hack-jam" target="_blank">Open News Fellowship Hack Jam</a>. Exploring the themes of journalism and open data to create physical interactive experiences.</li>
            <li><a href="http://mozillawebmaker.tumblr.com/post/28912876493/hivenyccodeparties-new-york-hall-of-science-is" target="_blank">Aircasting</a> with HiveNYC and New York Hall of Science at the Dekalb Market Hive Learning Party.</li>
            <li><a title="CERN Webfest" href="http://www.citizencyberscience.net/wiki/index.php?title=Main_Page" target="_blank">CERN Summer Student Webfest</a>. Turning <a href="http://browserquest.mozilla.org/" target="_blank">BrowserQuest</a> into "Particle Quest
            ".</li>
            <li><a href="https://twitter.com/ileddigital">Jon Rogers</a> and <a href="http://mozillaopennews.org/">Knight-Mozilla OpenNews</a> fellow <a href="https://twitter.com/gridinoc">Laurian Gridinoc</a> hosted a "Make the Web Physical" hack jam in Dundee, Scotland.</li>
            <li><a href="http://michellethorne.cc/2012/09/hive-berlin-speed-geeking-howd-it-go/" target="_blank">Hive Berlin Speed Geeking</a> featured 3D Printing stations, "Twitter-ature," Introductory Wiki-Making and more.</li>
        </ul>
        <p><strong>What's missing for the Hall of Fame?</strong><br> <a class="button create" href="http://mozillawebmaker.tumblr.com/submit">Nominate other favorite events</a></p>
        <h3 class="sub">Best Ideas and Innovations</h3>
        <img src="{{ MEDIA_URL }}/assets/hoc_2012/retouched/innovations.jpg" alt="" class="block_img" />
        <ul>
            <li><strong>Popcorning Barcelona</strong>. Explore a neighborhood on the outskirts of Barcelona with <a href="http://grupounion.cat/popcorn4/">this Popcorn experiment</a> from <a href="http://www.desdelamina.net/drupal/" target="_blank">desdelamina.net</a>.</li>
            <li><strong>Hacking <em>Little Brother</em></strong>. Cory Doctorow says he’s “<a href="http://craphound.com/littlebrother/2012/08/01/kids-and-mozilla-hack-my-novel-little-brother/">proud and excited beyond words</a>” to see youth using Popcorn to remix his novel, Little Brother.</li>
            <li><strong>Robot-building</strong>. Youth at the <a href="http://www.futurelibrary.gr/">“Future Library”</a> in <a href="http://goo.gl/maps/X8Ay2">Veria, Greece</a> used Thimble to create their own “How Tos” for building robots. (Check out <a href="http://chloeatplay.tumblr.com/post/29421503442/robots-localization-future-libraries-mozparty-in">Chloe’s post for more</a>.)</li>
            <li><strong>ParticleQuest</strong>. The winning hack at the <a title="CERN Webfest" href="http://www.citizencyberscience.net/wiki/index.php?title=Main_Page" target="_blank">CERN Summer Student Webfest</a> remixed <a title="BrowserQuest" href="http://particlequest.com/" target="_blank">Mozilla’s BrowserQuest</a> to give it a physics theme.</li>
            <li><strong>Youth-Made Anti-Bully Thimble project</strong>, 16yr old Hive NYC Summer Intern. (<a href="https://thimble.webmaker.org/en-US/projects/bully/edit" target="_blank">Try it out.</a>)</li>
        </ul>
        <p><strong>What's missing for the Hall of Fame?</strong><br><a class="button create" href="http://mozillawebmaker.tumblr.com/submit">Nominate other great ideas and innovations</a></p>
        <h3 class="sub">What's missing for the Hall of Fame?</h3>
        <ul>
            <li>Suggest <a href="mozillawebmaker.tumblr.com/submit" target="_blank">people, projects and content</a>.</li>
            <li>Suggest <a href="mozillawebmaker.tumblr.com/submit" target="_blank">new categories to add</a>.</li>
            <li><em><strong>Get more involved.</strong></em> Give us a shout on the <a href="https://lists.mozilla.org/listinfo/webmaker" target="_blank">Webmaker newsgroup</a>, <a href="https://twitter.com/mozilla/" target="_blank">Twitter</a> or <a href="https://wiki.mozilla.org/Webmakers/Community_Calls" target="_blank">weekly calls</a>.</li>
        </ul>
    </div>
</section>
{% endblock %}

{% block footer %}
{{ super() }}
{{ js('core_js') }}
{% endblock %}
