{% extends "events/base.html" %}

{% block page_id %}events-index{% endblock %}
{% block page_class %}{{ super() }} brochure-page{% endblock %}

{% block content %}
<div class="intro-bar">
    <h2>Teach. Meet. Learn. Share.</h2>
    <p><a href="" class="button find">Find an Event</a> <em>or</em> <a href="" class="button create">Create an Event</a></p>
</div>

<h3>What's New with Webmaker Events?</h3>

<ul class="tri-set">
    <li>
        <a href="" class="thumb"><img src="http://placehold.it/271x165" alt=""></a>
        <h4>Events are live!</h4>
        <p><a href="">Learn with Friends Near You</a></p>
    </li>
    <li>
        <a href="" class="thumb"><img src="http://placehold.it/271x165" alt=""></a>
        <h4>Create your event</h4>
        <p><a href="">Our Handy Guides will Help!</a></p>
    </li>
    <li>
        <a href="" class="thumb"><img src="http://placehold.it/271x165" alt=""></a>
        <h4>Announcing:</a></h4>
        <p><a href="">The Mozilla Summer Campaign</a></p>
    </li>
</ul>

<div class="meta-ticker" data-label="Event Type">
    <h3>Event Types</h3>
    <dl>
        <dt>Hack Jam</dt>
            <dd><span class="thumb"><img src="http://placehold.it/95x95" alt=""></span> Throw a learning party! Grow a network in your city by inviting local groups to play and learn together.</dd>
        <dt>Thing 2</dt>
            <dd><span class="thumb"><img src="http://placehold.it/95x95" alt=""></span> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
        <dt>Thing 3</dt>
            <dd><span class="thumb"><img src="http://placehold.it/95x95" alt=""></span> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</dd>
    </dl>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{{ js('core_js') }}
{% endblock %}