{% extends "events/base.html" %}

{% block page_id %}events-index{% endblock %}
{% block page_class %}{{ super() }} brochure-page{% endblock %}

{% block content %}
<div class="intro-bar">
    <h2>Teach. Meet. Learn. Share.</h2>
    <p><a href="" class="button find">Find an Event</a> <em>or</em> <a href="" class="button create">Create an Event</a></p>
</div>

<h3>What's New with Webmaker Events?</h3>

<ul class="tri-set">
    <li>
        <a href="" class="thumb"><img src="http://placehold.it/271x165" alt=""></a>
        <h4>Events are live!</h4>
        <p><a href="">Learn with Friends Near You</a></p>
    </li>
    <li>
        <a href="" class="thumb"><img src="http://placehold.it/271x165" alt=""></a>
        <h4>Create your event</h4>
        <p><a href="">Our Handy Guides will Help!</a></p>
    </li>
    <li>
        <a href="" class="thumb"><img src="http://placehold.it/271x165" alt=""></a>
        <h4>Announcing:</a></h4>
        <p><a href="">The Mozilla Summer Campaign</a></p>
    </li>
</ul>
{% endblock %}
