{% macro config(location, isMapView=False, full=False) %}
    <script>
        window.map_config = {
            {% if full -%}
                draggable: true,
                controls: true,
                full: true,
                cluster: true,
                mapFooter: '<img src="/media/img/official-event.png" alt="White check mark on blue circle" title=""> Indicates official webmaker event',
            {% endif %}
            {% if isMapView -%}
                target: '{{ url('events.near.map') + "?lat=${lat}&lng=${lng}"|escape }}',
                countryTarget: '{{ url('events.country.map', code='xx')|replace('/xx/','/${code}/')|escape }}',
            {% endif %}
            {% if location.code is defined -%}
                filter: '{{ location.code|escape }}',
                fit: '{{ location.name|escape }}'
            {% else -%}
                latitude: '{{ location.latitude|escape }}',
                longitude: '{{ location.longitude|escape }}',
                zoom: 12
            {% endif %}
        };
    </script>
{% endmacro %}

{% macro events(events) %}
    <script>
        map.add_event.apply(map, [
            {% for event in events -%}
            {
                name: '{{ event.name|escape }}',
                latitude: {{ event.venue.latitude }},
                longitude: {{ event.venue.longitude }},
                url: '{{ event.get_absolute_url() }}',
                venue: '{{ event.venue.name|escape }}',
                address: '{{ event.venue.street_address|replace('\r', '')|replace('\n', ', ')|escape }}',
                from: new Date('{{ event.start.strftime('%a, %d %b %Y %H:%M:%S') }}'),
                to: new Date('{{ event.end.strftime('%a, %d %b %Y %H:%M:%S') }}'),
                official: {% if event.official %}true{% else %}false{% endif %},
                type: {
                    name: '{{ event.kind.name|escape }}',
                    url: '{{ url('guides_%s' % event.kind.slug)|escape }}'
                }
            }{% if not loop.last %},
            {% endif -%}
            {%- endfor %}

        ]);
    </script>
{% endmacro %}