{% extends "events/base.html" %}

{% block page_title %}My events | {{ super() }}{% endblock %}
{% block page_id %}events-list{% endblock %}

{% block content %}
<h2>My events</h2>
<div class="search-results">
    <h3 class="my-moz-events">My Events (RSVP hosted here)</h3>
    {% if bsd_events %}
    <ol>
    {% for event in bsd_events %}
        {% include "events/_event-list-item.html" %}
        <li>Edit the <a href="https://donate.mozilla.org/page/event/edit_details?event_id={{ event.source_id }}">original event listing</a></li>
    {% endfor %}
    </ol>
    {% else %}
    <p class="no-events">You haven’t created any events. Why not <a href="{{ url('event.new') }}">create one</a>?</p>
    {% endif %}
    <h3 class="my-events">My Events (RSVP hosted elsewhere)</h3>
    {% if events %}
    <ol>
    {% for event in events %}
        {% include "events/_event-list-item.html" %}
        <li>Edit the <a href="{{ url('event.edit', event_hash = event.hash) }}">event listing</a></li>
    {% endfor %}
    </ol>
    {% else %}
    <p class="no-events">You haven’t created any events elsewhere.</p>
    {% endif %}
</div>
{% endblock %}
