{% extends "events/base.maps.html" %}

{% import "events/map-setup.html" as map %}

{% block page_title %}Near | {{ super() }}{% endblock %}
{% block page_id %}events-list{% endblock %}

{% block content %}
<div class="search-results">
    {% include "events/_search-form.html" %}
    <span class="switch"><a href="{{ url('events.near.map') }}?lat={{ latitude }}&amp;lng={{ longitude }}">switch to map view</a> | <a href="{{ url('events.all') }}">see all events</a></span>
    {% if results.object_list %}
        <p class="sorting">Sort by: <a href="?lat={{ latitude }}&amp;lng={{ longitude }}"{% if sort == 'date' %} class="active"{% endif %}>Upcoming first</a> <span>or</span> <a href="?lat={{ latitude }}&amp;lng={{ longitude }}&amp;sort=name"{% if sort == 'name' %} class="active"{% endif %}>A-Z</a></p>
        <ol>
        {# Can't iterate directly over results until Django 1.4 #}
        {% for event in results.object_list %}
            {% include "events/_event-list-item.html" %}
        {% endfor %}
        </ol>
        {% if results.paginator.num_pages > 1 %}
            <ol class="pagination">
                {% for page in range(1, results.paginator.num_pages+1) %}
                    <li{% if page == results.number %} class="current"{% endif %}><a href="?lat={{ latitude }}&amp;lng={{ longitude }}{% if sort != 'date' %}&amp;sort={{ sort }}{% endif %}{% if page != 1 %}&amp;page={{ page }}{% endif %}"><span>Page</span> {{ page }}</a></li>
                {% endfor %}
            </ol>
        {% endif %}
    {% else %}
        <p class="no-results">Nothing found. Why don't you <a href="https://donate.mozilla.org/page/event/create/" class="button create">Create an Event</a></p>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
    {{ map.config({'latitude':latitude,'longitude':longitude}) }}
    {{ super() }}
{% endblock %}
