{% extends "events/base.maps.html" %}

{% block page_title %}Near | {{ super() }}{% endblock %}
{% block page_id %}events-list{% endblock %}

{% block content %}
<div class="search-results">
    {% include "events/_search-form.html" %}
    {% if results.object_list %}
        <ol>
        {# Can't iterate directly over results until Django 1.4 #}
        {% for result in results.object_list %}
            <li>{{ result }}</li>
        {% endfor %}
        </ol>
    {% else %}
        <p>No results found</p>
    {% endif %}
</div>
<script>
    window.map_config = {
        latitude: "{{ latitude }}",
        longitude: "{{ longitude }}"
    };
</script>
{% endblock %}