{% extends "events/base.maps.html" %}

{% block page_title %}Near | {{ super() }}{% endblock %}
{% block page_id %}events-list{% endblock %}

{% block content %}
<div class="search-results">
    {% include "events/_search-form.html" %}
    {% if results.object_list %}
        <p class="sorting">Sort by: <a href="?lat={{ latitude }}&amp;lng={{ longitude }}"{% if sort == 'date' %} class="active"{% endif %}>Upcoming first</a> <span>or</span> <a href="?lat={{ latitude }}&amp;lng={{ longitude }}&amp;sort=name"{% if sort == 'name' %} class="active"{% endif %}>A-Z</a></p>
        <ol>
        {# Can't iterate directly over results until Django 1.4 #}
        {% for event in results.object_list %}
            <li{% if event.official %} class="official"{% endif %}>
                <div class="about">
                    <h4><a href="{{ url('event', event.id) }}">{{ event.name }}</a></h4>
                    {% if event.start.date() == event.end.date() %}
                    <p>{{ event.start.strftime('%B %-d, %Y %-I:%M %p') }} to {{ event.end.strftime('%-I:%M %p') }}</p>
                    {% else %}
                    <p>{{ event.start.strftime('%B %-d, %Y %-I:%M %p') }} to {{ event.end.strftime('%-I:%M %p on %B %-d') }}</p>
                    {% endif %}
                    <p>{{ event.venue.street_address|replace('\r\n', ', ') }}</p>
                    <a class="type" href="{{ url('guides_%s' % event.kind.slug) }}">{{ event.kind.name }}</a>
                </div>
                {% if event.campaign -%}
                <a class="campaign" href="{{ url('about') }}">
                    {% if event.campaign.logo -%}
                    <img src="{{ event.campaign.logo.url }}" width="{{ event.campaign.logo.width }}" height="{{ event.campaign.logo.height}}">
                    {%- endif %}
                    Part of {{ event.campaign.name }}
                </a>
                {%- endif %}
                <div class="date">
                    <span class="day">{{ event.start.strftime('%A') }}</span>
                    <span class="month">{{ event.start.strftime('%B') }}</span>
                    <span class="date">{{ event.start.strftime('%-d') }}</span>
                    {# <span class="year">{{ event.start.strftime('%Y') }}</span> #}
                </div>
            </li>
        {% endfor %}
        </ol>
        {% if results.paginator.num_pages > 1 %}
            <ol class="pagination">
                {% for page in range(1, results.paginator.num_pages+1) %}
                    <li{% if page == results.number %} class="current"{% endif %}><a href="?lat={{ latitude }}&amp;lng={{ longitude }}{% if sort != 'date' %}&amp;sort={{ sort }}{% endif %}{% if page != 1 %}&amp;page={{ page }}{% endif %}"><span>Page</span> {{ page }}</a></li>
                {% endfor %}
            </ol>
        {% endif %}
    {% else %}
        <p class="no-results">Nothing found. Why don't you <a href="https://donate.mozilla.org/page/event/create/" class="button create">Create an Event</a></p>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
    <script>
        window.map_config = {
            latitude: "{{ latitude }}",
            longitude: "{{ longitude }}",
            zoom: 12
        };
    </script>
    {{ super() }}
{% endblock %}
