{% extends "events/base.html" %}

{% block page_title %}Create a New Event | {{ super() }}{% endblock %}
{% block page_id %}events-new{% endblock %}

{% block content %}
<h2>Create a New Event</h2>
<form method="post" action="/en-US/events/create/">
    {% for fieldset in fieldsets %}
        <fieldset{% if fieldset.className %} class="{{ fieldset.className }}"{% endif %}>
            {% if fieldset.legend %}<legend>{{ fieldset.legend }}</legend>{% endif %}
            <ul>
                {% for field in fieldset %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        <li{% if field.errors %} class="error"{% endif %}>
                            {{ field.label_tag() }}
                            {{ field }}
                            {% if field.help_text %}<label for="id_{{ field.html_name }}" class="help">{{ field.help_text }}</label>{% endif %}
                            {% for error in field.errors -%}
                                <label for="id_{{ field.html_name }}" class="error">{{ error }}</label>
                            {%- endfor %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </fieldset>
    {% endfor %}
    <p class="buttons"><input type="submit" class="button create"></p>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>
{% endblock %}