{% extends "events/base.maps.html" %}

{% block page_title %}Search | {{ super() }}{% endblock %}
{% block page_id %}events-search{% endblock %}

{% block content %}
<div class="search-results">
    {% include "events/_search-form.html" %}
    <a href="{{ url('events.all') }}" class="switch">see all events</a>
    {% if location %}
        {% if results %}
            <h3>Did you mean:</h3>
            <ul>
            {% for result in results %}
                <li><a href="/events/near/?lat={{ result.geometry.location.lat }}&lng={{ result.geometry.location.lng}}">{{ result.formatted_address }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <h3>No results found</h3>
        {% endif %}
    {% endif %}
</div>
{% endblock %}