settings_local.py
settings/local.py
*/settings/local.py
*/settings/fauxdev.py
*/settings/server.py
venv/*
*.py[co]
*.sw[po]
.coverage
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
*-min.css
*-all.css
*.less.css
*-min.js
*-all.js
.noseids
tmp/*
*~
*.mo
