{% extends "events/base.html" %}

{% block page_title %}How to host a Game Jam | {{ super() }}{% endblock %}

{% block page_id %}guides-game_jam{% endblock %}
{% block page_class %}{{ super() }} guides-inner brochure-page{% endblock %}

{% block content %}
<div class="masthead">
    <h2 class="plaque">Guides</h2>
    <p>How to host</p>
</div>
<header class="event-type">
    <span class="thumb"><img src="{{ MEDIA_URL }}img/game-jam_stub.jpg" alt="" width="120" height="120" /></span>
    <h3>Game Jam</h3>
    <p>Create a HTML5 based game! Team up to transform your ideas into real world games.</p>
</header>
<div class="major">
    <nav class="cf">
        <ol>
            <li><a href="#overview">Overview</a></li>
            <li><a href="#before">Before</a></li>
            <li><a href="#during">During</a></li>
            <li><a href="#after">After</a></li>
        </ol>
        <a href="https://donate.mozilla.org/page/event/create/" class="button create">Create an event</a>
    </nav>
    <article>
        <section id="overview">
            <h4>Overview</h4>
            <p>A <b>Game Jam</b> aims to: </p>
                <ul>
                    <li>Provide access to innovative new gaming technologies that allow you to create the ultimate browser based game.</li>
                    <li>Bring together people who love making and hacking games as much as you do.</li>
                    <li>Inspire you to dream up a cool new game and help you build a prototype that demonstrates your idea.</li>
                    <li>Prepare you to enter your best work possible into the Game On competition.</li>
                </ul>

            <p>Sound like fun? This guide will help! It's a <b>community document,</b> so please <a class="external text" href="https://donate.mozilla.org/page/s/webmaker-event-host-feedback">share your ideas to help improve it</a>. </p>
          
            <h5 class="sub_head">Facts and figures</h5>
            <ul class="figures">
                <li class="mark numbers">10 - 50 participants</li>
                <li class="mark duration">24 - 48 hours</li>
                <li class="mark venue">At a school, office, computer lab or any open hacking space</li>
            </ul>
        </section>
        <section id="before">
            <h4>Before</h4>
            <h5 class="sub_head">Engage your participants beforehand</h5> 
            <ul>
                <li>
                    <b>Have conversations with participants before the event:</b>
                    <ul>
                        <li>What kinds of games are they interested in making and doing?</li> 
                        <li>What do they need to make that happen?</li>
                        <li>How can your event serve them?</li>
                    </ul>
                </li>
                <li><b>Know who you're doing this for.</b> Participants at successful game jams know what they are making and for whom. You can use the Game On contest as a great end goal!</li>
                <li>Think about <b>what skills you need in the room.</b> Invite people from other areas who can help in valuable ways. (Design, CS, ECE, etc)</li>
            </ul>

            <h5 class="sub_head">Craft a good design challenge:</h5>           

            <ul>
                <li>A design challenge is <b>a question that you set out to address together.</b></li>
                <li>Write in <b>simple, clear language and include the target users</b> in what you're building.</li>
                <li>For example:
                    <ul>
                        <li>What games can we make that teach youth an important web skill?</li>  
                        <li>What game mechanics can we design for mobile interfaces?</li>
                    </ul>
                </li>
                <li>These are just ideas to get started. You can always keep it open-ended or go with a general gaming theme or category (i.e. mobile, hackable, learning) <b>If you'd like help crafting a game jam challenge, please <a href="mailto:chloe@mozillafoundation.org">get in touch with us!</a></b></li>
            </ul>

            <h5 class="sub_head">Find a space and a date</h5>
            <ul>             
                <li>Find a <b>comfortable, flexible space.</b> Ideal is an open space where you can move the chairs and sit together in a circle.</li>
                <li>Think about <b>wifi and power</b>, good lighting, and snacks.</li>
                <li><b>Pick a date.</b> Give yourself enough time and make sure the date works for your participants.</li>
            </ul>

            <h5 class="sub_head">Spread the word</h5>            
            <ul>
                <li><b>Read our guidelines on planning safe events.</b></li>
                <li>Write a short description and create a page for your event. (Facebook event pages are great)</li>
                <li><b>Invite key participants.</b> Identify important skillsets for the event. Talk to local communities, forums, universities to find the right participants. You can also contact the Mozilla team for advice.</li>
            </ul>
        </section>

        <section id="during">
    
            <h4>During</h4>
            
            <h5 class="sub_head">Event Logistics</h5>

            <ul>
                <li>Have the group <b>sit in a circle or clusters near each other.</b> This creates a sense of cooperation and helps everyone see each other.</li>
                <li><b>Do a quick go-round.</b> Introduce yourself and the event and then ask the participants to introduce themselves.</li>
                <li>Give a <b>brief overview</b>. What will you make today?</li>
                <li>Discuss the concept of a <b>"minimum viable prototype."</b>  You're aiming to produce something that works, even if it's very rough around the edges, by the end of the event.  Prototypes include:
                    <ul>
                        <li>A napkin sketch</li>
                        <li>A blog post</li>
                        <li>A little bit of code</li>
                    </ul>
                </li>
                <li>Break into small groups</li>           
                <li>In small teams, <b>start brainstorming</b> about the challenge and write down as many solution as possible. Rough notes and sketches are fine!</li>
                <li>Regroup and <b>present the best ideas</b>, collecting feedback.</li>
                <li><b>Create a shared repository</b> such as an etherpad, a wiki, or a wall of paper, to collect all the ideas.</li>
            </ul>

            <h5 class="sub_head">Start Building</h5>    

            <ul>
                <li><b>Go back into teams</b> and focus on the ideas that got the most traction.</li> 
                <li><b>Start drafting the prototypes on paper.</b> This helps formulate ideas and exposes any holes.</li>
                <li><b>Consider design elements</b> to simplify and improve the user's experience.</li>
            </ul> 

            <h5 class="sub_head">Playtesting Round</h5>

            <ul>
                <li><b>Periodically playtest each others projects.</b> You can do quick play rounds with the whole group or invite people to walk around and share what they're working on.</li>
                <li><b>Identify skill-sets and needs,</b> such as "Group 1 needs a developer" or "Group 2 needs a designer," so participants can help each other where needed.</li>
                <li>If a group gets stuck, encourage them to keep going to the best of their ability or <b>rethink the idea to fit what they can build.</b></li>
            </ul>

            <h5 class="sub_head">Sprint to Finish</h5>            

            <ul>
                <li><b>Keep refining your prototype</b> or using other techniques and tools to get closer to a workable solution.</li>
                <li><b>Teams sprint to finish their "minimum viable prototype."</b></li>
                <li>Each team <b>prepares a short demo or presentation</b> of their project.</li>  <li><b>Celebrate what you made.</b> Back in a large circle, have participants present their prototypes.</li>
                <li>Encourage participants to think about <b>what they want to do next with their project. Hopefully this will be the beginning of their submission for Game On!</b></li>
                <li>If you like, please <b>share your prototypes with the world!.</b> You can publish the links and other materials to a blog or the social network of your choice.</li>
                <li><b>Please tag your work with #mozgames.</b></li>
            </ul>
         

        </section>
        <section id="after">
            <h4>After</h4>
            <h5 class="sub_head">Wrap Up</h5>

            <ul>
                <li><b>Ask everyone how it went.</b> Encourage feedback  about the event and the projects. What did they learn? What did they  like? If they have suggestions for making it better, be sure to take  notes.</li>
                <li><b>Talk about continuing to hack together.</b> You  may want to keep building these prototypes or try new ones. Talk about  what you would like to do next, such as organize another game jam.</li>
            </ul>

            <h5 class="sub_head">Set a date.</h5>

            <p>If there's interest, <b>pick a date for the next time!</b></p>

            <h5 class="sub_head">Let us know how it went</h5>                       

            <ul>
                <li>Please <b>share your experience</b> about hosting the event and the prototypes, including links to the things you made.</li> 
                <li>We'll send <b>an email reminder</b> after the event to collect your feedback. </li>
            </ul>

    <h5 class="sub_head">Support</h5>                        

    <p><b>If you need help at any time before, during or after your event, <a href="mailto:chloe@mozillafoundation.org">please contact us.</a></b> We have a team of volunteers and staff members dedicated to helping organizers like you.</p> 
        </section>
    </article>
</div>

{% endblock %}

{% block footer %}
{{ super() }}
{{ js('core_js') }}
{% endblock %}
