{% extends "events/base.html" %}

{% block page_title %}How to host a Hack Jam | {{ super() }}{% endblock %}

{% block page_id %}guides-hack_jam{% endblock %}
{% block page_class %}{{ super() }} guides-inner brochure-page{% endblock %}

{% block content %}
<div class="masthead">
    <h2 class="plaque">Guides</h2>
    <p>How to host</p>
</div>
<header class="event-type">
    <span class="thumb"><img src="{{ MEDIA_URL }}/img/{{ page_data.name|lower|replace(' ', '-') }}_stub.jpg" alt="" width="120" height="120" /></span>
    <h3>{{ page_data.name }}</h3>
    <p>{{ page_data.description }}</p>
    <nav class="guide_nav">
        <ul>
            <li><a href="{{ url('guides_pop_up') }}" class="next">how to host a pop up</a></li>
            <li><a href="{{ url('guides_kitchen_table') }}" class="prev">how to host a kitchen table</a></li>
        </ul>
    </nav>
</header>
<div class="major">
    <nav class="cf">
        <ol>
            <li><a href="#overview">Overview</a></li>
            <li><a href="#before">Before</a></li>
            <li><a href="#during">During</a></li>
            <li><a href="#after">After</a></li>
        </ol>
        <a href="https://donate.mozilla.org/page/event/create/" class="button create">Create an event</a>
    </nav>
    <article>
        <section id="overview">
            <h4>Overview</h4>
            <p>A <b>Hack Jam</b> aims to: </p>
                <ul>
                    <li>Team up different skill-sets to <b>explore an interesting challenge.</b></li> 
                    <li>Collaboratively build a <b>"minimum viable prototype"</b> to demonstrate your idea.</li>
                </ul>

            <p>Sound like fun? This guide will help! It's a <b>community document,</b> so please <a class="external text" href="https://donate.mozilla.org/page/s/webmaker-event-host-feedback">share your ideas to help improve it</a>. </p>
          
          <p>You can also see what <a class="external text" href="{{ url('page', 'news') }}">other hosts have done</a>.
</p>

            <h5 class="sub_head">Facts and figures</h5>
            {#
                Copy comes from VPN restricted admin section
            #}
            {{ page_data.figures|safe }}
        </section>
        <section id="before">
            <h4>Before</h4>

            <h5 class="sub_head">Engage your participants beforehand</h5>
          <ul>
            <li> <b>Have conversations with participants before the event:</b><ul>
                <li> What are they interested in making and doing? </li>
                <li> What are their goals? </li>
                <li> How can your event serve them?</li>
            </ul></li>
             <li><b>Know who you're doing this for.</b> Participants at successful hack jams know what they are making and for whom.</li>
            <li> Think about <b>what skills you need in the room.</b> Invite people who can help in valuable ways.</li>
        </ul>
           
          <h5 class="sub_head">Craft a good design challenge</h5>
          <ul><li> A design challenge is <b>a question that you set out to address together.</b></li>
            <li>Write in <b>simple, clear language and include the target users</b> in what you're building.</li>
            <li>For example:<ul>
            <li><em> How can we add value for journalists telling a story using live web content?</em>
</li><li> <em>What games can we make that teach youth an important web skill?</em>
  </li><li> <em>How can we harness sensor signals for the visually-impaired to navigate space?</em>
</li></ul></li>
 <li>These are just ideas to get started. If you'd like <b>help crafting a hack jam challenge, <a href="mailto:mozparty@mozilla.org" class="external text" rel="nofollow">please get in touch</a></b> or see what <a class="external text" href="{{ url('page', 'news') }}">other hosts have done</a></li>
            </ul>
          

            <h5 class="sub_head">Find a space and a date</h5>

            <ul>
                <li> Find a <b>comfortable, flexible space.</b> Ideal is an open space where you can move the chairs and sit together in a circle.</li>
                <li> Think about <b>wifi and power,</b> good lighting, and snacks.</li>
                <li> <b>Pick a date.</b> Give yourself enough time and make sure the date works for your participants.</li>
            </ul>

            <h5 class="sub_head">Spread the word</h5>
            <ul>
                 <li><b><a href="{{ url('events_content') }}">Read our guidelines on planning safe events</a></b></li>
                <li><b>Write a short description</b> about your event and <b>post it on <a href="https://donate.mozilla.org/page/event/create/"> webmaker.org/events </a></b>.</li>
                <li><b>Invite key participants.</b> Identify important skillsets for the event. Talk to local communities to find the right participants. You can also contact the Mozilla team for advice.</li>
            </ul>
        </section>

        <section id="during">
    
            <h4>During</h4>
            <h5 class="sub_head">Introduce your event</h5>
          <ul>
                <li> Have the group <b>sit in a circle.</b> This creates a sense of cooperation and helps everyone see each other. </li> 
                <li><b>Do a quick go-round.</b> Ask the participants to introduce themselves. </li>
                <li> Give a <b>brief overview.</b> What will you make today?</li>
            <li>Discuss the concept of a <b>"minimum viable prototype."</b> You're aiming to produce something in response to the design challenge, even if it's very rough around the edges, by the end of the event. Prototypes include:<ul><li> A napkin sketch
</li><li> A blog post
</li><li> A little bit of code
</li></ul></li>
          </ul>

            <h5 class="sub_head">Break into small groups</h5>

          <ul>
                <li> In small teams, <b>start brainstorming</b> about the challenge and write down as many solution as possible. Rough notes and sketches are fine!</li>
                <li> Regroup and <b>present the best ideas,</b> collecting feedback.</li>
              <li><b>Create a shared repository</b> such as an etherpad, a wiki, or a wall of paper, to collect all the ideas.</li> 
          </ul>
         
       <h5 class="sub_head">Start Hacking</h5>
      <ul>
        <li><b>Go back into teams</b> and focus on the ideas that got the most traction. </li>
        <li><b>Start drafting the prototypes on paper</b>. This helps formulate ideas and exposes any holes. </li> 
        <li><b>Consider design elements</b> to simplify and improve the user's experience. </li>  
          </ul>
          
            <h5 class="sub_head">Iterative Feedback</h5>
<ul>
              <li><b>Periodically check in on the projects.</b> You can do quick share-back rounds with the whole group or invite people to walk around and share what they're working on.</li> 
            <li><b>Identify skill-sets and needs,</b> such as "Group 1 needs a developer" or "Group 2 needs a designer," so participants can help each other where needed.</li>
                <li>If a group gets stuck, encourage them to keep going to the best of their ability or <b>rethink the idea to fit what they can build.</b></li>
          </ul>

            <h5 class="sub_head">Sprint to Finish</h5>

          <ul>
              <li><b>Keep refining the paper prototype</b> or using other techniques and tools, like <a href="https://thimble.webmaker.org/"> Thimble</a>  to get closer to a workable solution.</li>    
            <li><b>Teams sprint to finish their "minimum viable prototype."</b></li>
             <li>Each team <b>prepares a short demo or presentation</b> of their project.</li>
          </ul>

            <h5 class="sub_head">Share your hacks</h5>

          <ul>
                <li> <b>Celebrate what you made.</b> Back in a large circle, have participants present their prototypes. </li>
            <li>Encourage participants to think about <b>what they want to do next with their project.</b></li>
            <li> If you like, please <b> share your prototypes with the world!</b>. You can publish the links and other materials to a blog or the social network of your choice. </li>
            <li><b>Please tag your work with #mozparty.</b></li>
        </ul>
         

        </section>
        <section id="after">
            <h4>After</h4>
            <h5 class="sub_head">Wrap Up</h5>

             <ul>
                <li> <b>Ask everyone how it went.</b> Encourage feedback about the event and the projects. What did they learn? What did they like? If they have suggestions for making it better, be sure to take notes.</li>
                <li> <b>Talk about continuing to hack together.</b> You may want to keep building these prototypes or try new ones. Talk about what you would like to do next, such as organize another hack jam.</li>
             <li><b>Set a date.</b> If there's interest, <b><a class="external text" href="https://donate.mozilla.org/page/event/create/">pick a date for the next time!</a></b></li>
           </ul>

            <h5 class="sub_head">Let us know how it went</h5>
            
          <ul>
                <li> Please <b><a class="external text" href="https://donate.mozilla.org/page/s/webmaker-event-host-feedback">share your experience</a></b> about hosting the event and the prototypes, including links to the things you made. </li>
                <li> We'll send <b>an email reminder</b> after the event to collect your feedback. </li>
            </ul>
          
                      <h5 class="sub_head">Getting Support</h5>
            
          <ul>
            <li><b>If you need help at any time before, during or after your event, <a href="{{ url('page', 'support') }}">please contact us</a></b>. We have a team of volunteers and staff members dedicated to helping organizers like you.</li>
            </ul>

            <p><a href="https://donate.mozilla.org/page/event/create/" class="button create">I'll host one!</a> <a href="mailto:mozparty@mozilla.org" class="button">I have a question</a></p>
        </section>
    </article>
</div>

{% endblock %}

{% block footer %}
{{ super() }}
{{ js('core_js') }}
{% endblock %}
