{% extends "events/base.html" %}

{% block page_id %}guides-hack_jam{% endblock %}
{% block page_class %}{{ super() }} guides-inner brochure-page{% endblock %}

{% block content %}
<div class="masthead">
    <h2 class="plaque">Guides</h2>
    <p>How to host</p>
</div>
<header class="event-type">
    <span class="thumb"><img src="{{ MEDIA_URL }}/img/{{ page_data.name|lower|replace(' ', '-') }}_stub.jpg" alt="" width="120" height="120" /></span>
    <h3>{{ page_data.name }}</h3>
    <p>{{ page_data.description }}</p>
    <nav class="guide_nav">
        <ul>
            <li><a href="{{ url('guides_pop_up') }}" class="next">how to host a pop up</a></li>
            <li><a href="{{ url('guides_kitchen_table') }}" class="prev">how to host a kitchen table</a></li>
        </ul>
    </nav>
</header>
<div class="major">
    <nav class="cf">
        <ol>
            <li><a href="#overview">Overview</a></li>
            <li><a href="#before">Before</a></li>
            <li><a href="#during">During</a></li>
            <li><a href="#after">After</a></li>
        </ol>
        <a href="https://donate.mozilla.org/page/event/create/" class="button create">Create an event</a>
    </nav>
    <article>
        <section id="overview">
            <h4>Overview</h4>
            <p>A <b>Hack Jam</b> aims to: </p>
                <ul>
                        <li>Team up different skill-sets to <b>explore an interesting challenge.</b></li> 
                        <li>Collaboratively build a <b>"minimum viable prototype"</b> to demonstrate your idea.</li>
                </ul>

            <p>Sound like fun? This guide will help!</p> It's a <b>community document,</b> so please <a href="https://events.etherpad.mozilla.org/hackjams">share your thoughts.</a>

            <h5 class="sub_head">Facts and figures</h5>
            {#
                Copy comes from VPN restricted admin section
            #}
            {{ page_data.figures|safe }}
        </section>
        <section id="before">
            <h4>Before</h4>

            <h5 class="sub_head">Decide what you want to make</h5>

            <ul>
                <li> <b>Talk with participants</b> about their interests.</li>
                <li> <b>Decide on a challenge or question</b> to explore together. For example:
                    <ul>
                        <li>How can we add value to a story using live web content?</li>
                        <li>What games can we make that teach an important skill?</li>
                        <li>How can we harness sensor signals to navigate a space?</li>
                    </ul></li>
                <li>These are just ideas to get started. If you'd like <b>help crafting a hack jam challenge</b>, <a href="mailto:michelle@mozillafoundation.org" class="external text" rel="nofollow">please get in touch</a> or see what others have done.</li>
            </ul>

            <h5 class="sub_head">Find a space and a date</h5>

            <ul>
                <li> Find a <b>comfortable, flexible space.</b> Ideal is an open space where you can move the chairs and sit together in a circle.</li>
                <li> Think about <b>wifi and power,</b> good lighting, and snacks.</li>
                <li> <b>Pick a date.</b> Give yourself enough time and make sure the date works for your friends.</li>
            </ul>

            <h5 class="sub_head">Spread the word</h5>

            <img class="thumb" src="{{ MEDIA_URL }}img/photos/placeholder_2.jpg" alt="" />
            <ul>
                <li><b>Write a short description</b> about your event.</li>
                <li> <b>Post it</b> on <a href="https://donate.mozilla.org/page/events/create/"> make.mozilla.org/events </a> or the organizing platform of your choice.</li>
                <li><b>Invite key participants.</b> Identify important skillsets for the event. Talk to local communities to find the right participants. You can also contact the Mozilla team for advice.</li>
            </ul>
        </section>

        <section id="during">
    
            <h4>During</h4>
            <h5 class="sub_head">Introduce your event</h5>
          <ul>
                <li> Have the group <b>sit in a circle.</b> This creates a sense of cooperation and helps everyone see each other. </li> 
                <li><b>Do a quick go-round.</b> Ask the participants to introduce themselves. </li>
                <li> Give a <b>brief overview.</b> What will you make today?</li>
          </ul>

            <h5 class="sub_head">Break into small groups</h5>

          <ul>
                <li> In small teams, <b>start brainstorming</b> about the challenge and write down as many ideas as possible.</li>
                <li><b>Napkin-sketch the best ideas.</b></li>
                <li> Regroup and <b>present the sketches,</b> collecting feedback.</li>
          </ul>


            <h5 class="sub_head">Start Hacking</h5>

          <ul>
                <li>Back in teams, <b>paper prototype</b> your idea. </li> 
                <li><b>Draft each step</b> on paper. This gives clarity to your idea and exposes any holes in the process.</li>
                <li>If possible, <b>try coding your prototype.</b> Else, keep refining the paper version. </li>
                <li><b>Consider design elements</b> to simplify and improve the user's experience. </li>
          </ul>

            <h5 class="sub_head">Iterative Feedback</h5>

          <ul>
                <li><b>Periodically give feedback on the projects.</b> You can do quick share-back rounds with the group.</li> 
                <li><b>Identify skill-sets and needs,</b> such as "Group 1 needs a developer" or "Group 2 needs a designer," so participants can help each other where needed.</li>
                <li>If a group gets stuck, encourage them to keep going to the best of their ability or <b>rethink the idea to fit what they can build.</b></li>
          </ul>

            <h5 class="sub_head">Sprint to Finish</h5>

          <ul>
                <li><b>Teams sprint to finish their "minimum viable prototype."</b></li>
                <li><b>Create a shared repository</b> such as an etherpad, a wiki, or a wall of paper, to collect all the prototypes.</li> 
                <li>Each team <b>prepares a short demo or presentation</b> of their project.</li>
          </ul>

            <h5 class="sub_head">Share your hacks</h5>

          <ul>
                <li><b>Share what you made</b> back in the circle.</li>
                <li>Encourage participants to think about <b>what they want to do next with their project.</b></li>
                <li>If you like, <b>let the world know what you made!</b>
                    <ul>
                        <li> <b>Paste the URL</b> in this <a href="https://events.etherpad.mozilla.org/hackjams" class="external text" rel="nofollow">etherpad</a></li>
                        <li> or <b>tweet the hack</b> and tag it #mozparty</li>
                        <li> or <b>upload a picture</b> to a gallery, such as Flickr, and tag it with #mozparty.</li>
        </ul> </li>
          </ul>  

        </section>
        <section id="after">
            <h4>After</h4>
            <h5 class="sub_head">Wrap Up</h5>

          <ul>
                <li><b>Ask the group about the event.</b> What did they like? What could be improved?</li>
                <li><b>Take notes on the feedback.</b> And be sure you have a copy of each project.</li>
                <li><b>Decide on next steps.</b> If there's interest, <a href="https://donate.mozilla.org/page/event/create/" class="external text" rel="nofollow">pick a date for the next time!</a></li>
          </ul>

            <h5 class="sub_head">Let us know how it went</h5>
            
            <ul>
                <li> Please <b><a href="https://events.etherpad.mozilla.org/hackjams" class="external text" rel="nofollow">share your experience</a></b> about hosting the event and the projects, including links to the things you made. </li>
                <li> We’ll send <b>an email reminder</b> after the event to collect your feedback.</li>
                <li> Thanks for running a great event, and keep hacking!</li>
            </ul>

            <p><a href="https://donate.mozilla.org/page/events/create/" class="button create">I’ll host one!</a> <a href="mailto:michelle@mozillafoundation.org" class="button">I have a question</a></p>
        </section>
    </article>
</div>

{% endblock %}

{% block footer %}
{{ super() }}
{{ js('core_js') }}
{% endblock %}
