{% extends "events/base.html" %}

{% block page_id %}guides-index{% endblock %}
{% block page_class %}{{ super() }} guides{% endblock %}

{% block content %}
<div class="masthead">
    <h2 class="plaque">Guides</h2>
    <p>How to host</p>
</div>

<h3 class="shout">Choose the type of event you would like to host:</h3>

<ul class="tri-set">
    {% for kind in event_kinds %}
    <li>
        <a href="{{ url('guides_%s' % kind.slug) }}">
            <img class="thumb" src="{{ MEDIA_URL }}/img/{{ kind.name|lower|replace(' ', '-')}}_thumb.jpg" alt="" />
            <h3>{{ kind.name }}</h3>
        </a>
        <p>{{ kind.description }}</p>
        {#
        Copy comes from VPN restricted admin section
        #}
        {% if kind.figures %}
            {{ kind.figures|safe }}
        {% endif %}
        {% if kind.additional %}
            {{ kind.additional|safe }}
        {% endif %}
        
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block footer %}
{{ super() }}
{{ js('core_js') }}
{% endblock %}
