{% extends "events/base.html" %}

{% block page_title %}How to host a Kitchen Table | {{ super() }}{% endblock %}

{% block page_id %}guides-kitchen_table{% endblock %}
{% block page_class %}{{ super() }} guides-inner brochure-page{% endblock %}

{% block content %}
<div class="masthead">
    <h2 class="plaque">Guides</h2>
    <p>How to host</p>
</div>
<header class="event-type">
    <span class="thumb"><img src="{{ MEDIA_URL }}/img/{{ page_data.name|lower|replace(' ', '-') }}_stub.jpg" alt="" width="120" height="120" /></span>
    <h3>{{ page_data.name }}</h3>
    <p>{{ page_data.description }}</p>
    <nav class="guide_nav">
        <ul>
            <li><a href="{{ url('guides_hack_jam') }}" class="next">how to host a hack-jam</a></li>
            <li><a href="{{ url('guides_pop_up') }}" class="prev">how to host a pop-up</a></li>
        </ul>
    </nav>
</header>
<div class="major">
    <nav class="cf">
        <ol>
            <li><a href="#overview">Overview</a></li>
            <li><a href="#before">Before</a></li>
            <li><a href="#during">During</a></li>
            <li><a href="#after">After</a></li>
        </ol>
        <a href="https://donate.mozilla.org/page/event/create/" class="button create">Create an event</a>
    </nav>
    <article>
        <section id="overview">
            <h4>Overview</h4>
          <p>A <b>Kitchen Table</b> event is a fun way to:</p>
                <ul>
                    <li><b>hang out with friends</b> around your kitchen table</li>
                    <li>and <b>make cool things on the web.</b></li>
                </ul>

                <p>This guide will help! It's a <b>community document,</b> so please <a href="https://events.etherpad.mozilla.org/kitchentable-hacks" class="external text" rel="nofollow">share your ideas</a> and see also what <a href="http://openmatt.org/2012/04/27/kitchen_table_teach-ins/" class="external text" rel="nofollow">other hosts did</a>.
</p>

            <h5 class="sub_head">Facts and figures</h5>   
            {#
                Copy comes from VPN restricted admin section
            #}        
            {{ page_data.figures|safe }}
        </section>
        <section id="before">
            <h4>Before</h4>

            <h5 class="sub_head">Decide what you want to make</h5>

                <ul>
                    <li><b><a href="{{ url('projects') }}" class="external text">Select a project</a></b> to get you started with making things on the web.</li>
                    <li><b><a href="{{ url('events_guidelines') }}">Read our guidelines on planning safe events</a></b></li>
                    <li>Think about the <b>interests and skill levels</b> of your group. Adapt projects accordingly. </li>
                    <li>If you try something different, <a href="https://events.etherpad.mozilla.org/kitchentable-hacks" class="external text" rel="nofollow">let us know how it went.</a></li>
                </ul>
            
            <h5 class="sub_head">Find a space and a date</h5>

                <ul>
                    <li> Find a <b>comfortable, flexible space.</b> Your kitchen or living room are good, or a nearby cafe. Make sure you can move the chairs and sit together in a circle.</li>
                    <li> Think about <b>wifi and power,</b> good lighting, and snacks.</li>
                    <li> <b>Pick a date.</b> Give yourself enough time and make sure the date works for your friends.</li>
                </ul>

            <h5 class="sub_head">Invite your friends</h5>

                <ul>
                    <li><b>Write a short invitation.</b> If your friends should bring something, include a reminder.</li>
                    <li> You can use the <b>sample text</b> below.</li>
                    <li> If you're feeling creative, try remixing an <a href="http://jessicaklein.com/kitchen.html" class="external text" rel="nofollow">invitation</a> using the <a href="http://hackasaurus.org/en-US/goggles/" class="external text" rel="nofollow">Hackasaurus X-Ray Goggles</a>.</li>
                </ul>

            <div class="invite">
            <p>Want to remix a website? Join me in <strong>LOCATION</strong>, <strong>DATE</strong>.</p>
            <p>I'm going to learn how play with code & thought you might want to, too!</p>
            <p>On <strong>DATE</strong> we're hanging out in <strong>LOCATION</strong> to make something together online.</p>
            <p>There will be yummy snacks, hacking, and the company of friends.</p>
            <p>Bring a computer, if you can.</p>
            <p>Let me know if you can come.</p>
            <p>— Sincerely, <strong>YOU</strong></p>
            </div>
        </section>

        <section id="during">
            <h4>During</h4>
            <h5 class="sub_head">Say hello</h5>

          <ul>
                <li> Make sure <b>everyone has access to a laptop, power and the internet.</b></li> 
                <li> <b>Introduce the group</b>, if they don't know each other.</li>
                <li> Give a <b>brief overview.</b> What will you make today?</li>
          </ul>

            <h5 class="sub_head">Try a project</h5>

          <ul>
                <li> <b>Demonstrate the <a href="{{ url('projects') }}" class="external text">webmaker project</a></b> you selected earlier.</li>
                <li> Now let <b>your friends try.</b></li>
                <li> <b>Check in</b> with everyone. Answer questions and make sure the group is ready before going to the next step.</li>
          </ul>

            <h5 class="sub_head">Keep hacking</h5>

          <ul>
                <li> If someone wants to try something else, they can select another <b><a href="{{ url('projects') }}" class="external text">webmaker project</a></b>.</li>
                <li> You can also <b>find other activities online</b> to fit their interests and skill level. These sites have great documentation and tutorials as well:
                    <ul>
                        <li> <a href="http://p2pu.org/en/schools/school-of-webcraft/" class="external text" rel="nofollow">Peer to Peer University</a> (P2PU)</li>
                        <li> <a href="https://developer.mozilla.org/en-US/" class="external text" rel="nofollow">Mozilla Developer Network</a> (MDN)</li>
                        <li> <a href="http://www.codecademy.com/tracks/web" class="external text" rel="nofollow">Code Academy</a></li>
                    </ul>
                </li>
                <li> <b>Check in</b> with your friends to make sure they're doing alright.</li>
        </ul>

            <h5 class="sub_head">Share your hacks</h5>

          <ul>
                <li> <b>Hit "Publish"</b> when you’re finished.</li>
                <li> <b>Show your friends</b> what you made and ask to see their work, too.</li>
                <li> If you like, please <b>share your hacks with the world!</b>
                    <ul>
                        <li> <b>Paste the URL</b> in this <a href="https://events.etherpad.mozilla.org/kitchentable-hacks" class="external text" rel="nofollow">etherpad</a></li>
                        <li> or <b>tweet the hack</b> and tag it #mozparty</li>
                        <li> or <b>upload a picture</b> to a gallery, such as Flickr, and tag it with #mozparty.</li>
                    </ul>
                </li>
        </ul>
        </section>

        <section id="after">
    
            <h4>After</h4>

            <h5 class="sub_head">Wrap Up</h5>

           <ul>
                <li> <b>Ask everyone how it went.</b> Encourage feedback about the event and the projects. What did they learn? What did they like? If they have suggestions for making it better, be sure to take notes.</li>
                <li> <b>Talk about continuing to hack together.</b> You may want to keep playing with these projects or to try new ones later. Talk about what your friends would like to do next, such as organize another kitchen table event.</li>
                <li><b>Set a date.</b> If there's interest, <a href="https://donate.mozilla.org/page/event/create/" class="external text" rel="nofollow">pick a date for the next time!</a></li>
           </ul>

            <h5 class="sub_head">Let us know how it went</h5>
            
          <ul>
                <li> Please <b><a href="https://events.etherpad.mozilla.org/kitchentable-hacks?" class="external text" rel="nofollow">share your experience</a></b> about hosting the event and the projects, including links to the things you made. </li>
                <li> We’ll send <b>an email reminder</b> after the event to collect your feedback. </li>
            </ul>

            <p><a href="https://donate.mozilla.org/page/event/create/" class="button create">I’ll host one!</a> <a href="mailto:michelle@mozillafoundation.org" class="button">I have a question</a></p>
        </section>
    </article>
</div>

{% endblock %}

{% block footer %}
{{ super() }}
{{ js('core_js') }}
{% endblock %}