{% extends "events/base.html" %}

{% block page_title %}How to host a Kitchen Table | {{ super() }}{% endblock %}

{% block page_id %}guides-kitchen_table{% endblock %}
{% block page_class %}{{ super() }} guides-inner brochure-page{% endblock %}

{% block content %}
<div class="masthead">
    <h2 class="plaque">Guides</h2>
    <p>How to host</p>
</div>
<header class="event-type">
    <span class="thumb"><img src="{{ MEDIA_URL }}/img/{{ page_data.name|lower|replace(' ', '-') }}_stub.jpg" alt="" width="120" height="120" /></span>
    <h3>{{ page_data.name }}</h3>
    <p>{{ page_data.description }}</p>
    <nav class="guide_nav">
        <ul>
            <li><a href="{{ url('guides_hack_jam') }}" class="next">how to host a hack-jam</a></li>
            <li><a href="{{ url('guides_pop_up') }}" class="prev">how to host a pop-up</a></li>
        </ul>
    </nav>
</header>
<div class="major">
    <nav class="cf">
        <ol>
            <li><a href="#overview">Overview</a></li>
            <li><a href="#before">Before</a></li>
            <li><a href="#during">During</a></li>
            <li><a href="#after">After</a></li>
        </ol>
        <a href="https://donate.mozilla.org/page/event/create/" class="button create">Create an event</a>
    </nav>
    <article>
        <section id="overview">
            <h4>Overview</h4>
            <p>A <b>Kitchen Table</b> event is a fun way to:</p>
            <ul>
                <li><b>hang out with friends</b> around your kitchen table</li>
                <li>and <b>make cool things on the web.</b></li>
            </ul>

            <p>This guide will help! It's a <b>community document,</b> so please <a href="https://donate.mozilla.org/page/s/webmaker-event-host-feedback" class="external text">share your ideas to help improve it</a>. </p>
          
            <p>You can also see what <a href="{{ url('page', 'news') }}" class="external text">other hosts have done</a> or watch a <a href="http://www.slideshare.net/thornet/how-to-host-a-kitchen-table-event-13238709"> fun slidecast about how to host</a> at kitchen table event.
</p>

            <h5 class="sub_head">Facts and figures</h5>   
            {#
                Copy comes from VPN restricted admin section
            #}        
            {{ page_data.figures|safe }}
        </section>
        <section id="before">
            <h4>Before</h4>
            <h5 class="sub_head">Decide what you want to make</h5>
            <ul>
                <li>Think about the <b>interests and skill levels</b> of the people you want to have at your event.</li>  
                <li>You'll be using a tool called <b><a href="https://thimble.webmaker.org/"> Thimble</a></b>, which makes it very easy to make things on the web. Preview the <b><a href="{{ url('projects') }}" class="external text">Thimble projects</a></b> and find a few you think your guests will like. </li>
                <li><b><a href="{{ url('events_content') }}">Read our guidelines on planning safe events</a></b></li>
            </ul>
            
            <h5 class="sub_head">Find a space and a date</h5>

            <ul>
                <li> Find a <b>comfortable, flexible space.</b> Your kitchen or living room are good, or a nearby cafe. Make sure you can move the chairs and sit together in a circle.</li>
                <li> Think about <b>wifi and power,</b> good lighting, and snacks.</li>
                <li> <b>Pick a date.</b> Give yourself enough time and make sure the date works for your friends.</li>
            </ul>

            <h5 class="sub_head">Invite your friends</h5>

            <ul>
                <li> <b><a href="https://donate.mozilla.org/page/event/create/">Create a page</a></b> for your event.</li>
                <li><b>Write a short invitation.</b></li>
                <li> You can use the <b>sample text</b> below.</li>
            </ul>

            <div class="invite">
                <p>Want to remix a website? Join me in <strong>LOCATION</strong>, <strong>DATE</strong>.</p>
                <p>I'm going to learn how play with code & thought you might want to, too!</p>
                <p>On <strong>DATE</strong> we're hanging out in <strong>LOCATION</strong> to make something together online.</p>
                <p>There will be yummy snacks, hacking, and the company of friends.</p>
                <p>Bring a computer, if you can.</p>
                <p>Let me know if you can come.</p>
                <p>&mdash; Sincerely, <strong>YOU</strong></p>
            </div>
        </section>

        <section id="during">
            <h4>During</h4>
            <h5 class="sub_head">Say hello</h5>

            <ul>
                <li> When your guests arrive, make sure <b>everyone has access to a laptop, power and the internet.</b></li> 
                <li> <b>Introduce the group</b>, if they don't know each other.</li>
                <li> Give a <b>brief overview.</b> What will you make today? You can use the sample agenda below.</li>
            </ul>

            <h5 class="sub_head"><a href="/en-US/projects/learn-html-fast-making-your-own-web-page/">Learn HTML Fast</a> &mdash; 5min </h5>
            
            <a href="/projects/learn-html-fast-making-your-own-web-page/" class=" image"><img alt="HTML BASIC" src="https://webmaker.org/media/partner_media/projects/wrangler-510.flyer.png" width="240" height="147" /></a>
            
            <ul>
                <li> This <a href="/projects/learn-html-fast-making-your-own-web-page/">starter project</a> helps you play around with the most common HTML elements using a visual editor.</li>
                <li> Open <a href="https://thimble.webmaker.org/en-US/projects/wrangler/edit" class="external text" rel="nofollow">the project</a>.</li>
                <li> Read through the comments on the left. </li>
                <li> Click on some of the HTML tags (marked between &lt; &gt;) to get oriented to the code.</li>
                <li> Try changing the words in between the h2 tags.</li>
                <li> Replace the link on line 47.</li>
                <li> Now you're ready for more advanced projects!</li>
            </ul>
            
            <h5 class="sub_head"><a href="/projects/make-your-own-meme/" class="external text" rel="nofollow">Make a meme</a> &mdash; 10min </h5>
            
            <a href="/projects/make-your-own-meme/" class="image"><img alt="Make a meme" src="https://webmaker.org/media/partner_media/projects/meme-large.flyer.jpg" width="240" height="147" /></a>
            
            <ul>
                <li>This project makes it easy for you to create your own memes by mashing up text and images.</li>
                <li> Open <a href="https://thimble.webmaker.org/en-US/projects/meme/edit" class="external text" rel="nofollow">the project</a>.</li>
                <li> Search for a funny photo online. Copy the URL of the image.</li>
                <li> Replacing the link on line 32 with your new image URL.</li>
                <li> Now edit the text between the h1 and the h2 tags to give your image a new caption.</li>
                <li> If you want, you can keep adjusting the page by editing the other attributes, such as the background color. </li>
                <li> Press "Publish" in the top left-hand corner. Share your work!</li>
            </ul>
          
            <h5 class="sub_head"><a href="/projects/make-your-own-animal/" class="external text">Awesome Animal Builder</a> &mdash; 15min </h5>
            
            <a href="/projects/make-your-own-animal/" class="image"><img alt="Awesome Animal Builder" src="https://webmaker.org/media/partner_media/projects/zoo-large.flyer.jpg" width="240" height="147" /></a>

            <ul>
                <li> Create you own unique Awesome Animal.</li>
                <li> Open <a href="https://thimble.webmaker.org/en-US/projects/zoo-small/edit" class="external text" rel="nofollow">the project</a>.</li>
                <li> Scroll down to see what animals exist already. Do you want to borrow parts from them?</li>
                <li> Change line 36 from "changeme" to "rainforest.</li>
                <li> Modify the links on line 41 by copying parts from the animals at the bottom of the page.</li>
                <li> For example, change unknown.png to solenodon-tail.png</li>
                <li> Edit the text starting on line 53 to describe the new animal.</li>
                <li> Press "Publish" in the top left-hand corner. Share your work!</li>
            </ul>

            <h5 class="sub_head">Keep hacking</h5>
            
            <ul>
                <li> <b>Check in</b> with everyone. Answer questions and make sure they're finding projects they like and that fit their skill level.</li>
                <li>Explore <b><a href="https://thimble.webmaker.org/en-US/projects" class="external text" rel="nofollow">more Thimble projects.</a></b> if time permits. </li>
                <li> You can also <b><a href="https://wiki.mozilla.org/Webmaker/Submit_your_project">create your own project.</a></b></li>
            </ul>

            <h5 class="sub_head">Share your hacks</h5>

            <ul>
                <li> <b>Hit "Publish"</b> in the top left corner when you're finished.</li>
                <li> <b>Celebrate what you made.</b> Ask your friends to show their work.</li>
                <li> If you like, please <b> share your hacks with the world!</b>. You can publish the links to a blog or the social network of your choice. </li>
                <li><b>Please tag your work with #mozparty.</b></li>
            </ul>
        </section>

        <section id="after">

            <h4>After</h4>

            <h5 class="sub_head">Wrap Up</h5>

           <ul>
                <li> <b>Ask everyone how it went.</b> Encourage feedback about the event and the projects. What did they learn? What did they like? If they have suggestions for making it better, be sure to take notes.</li>
                <li> <b>Talk about continuing to hack together.</b> You may want to keep playing with these projects or to try new ones later. Talk about what your friends would like to do next, such as organize another kitchen table event.</li>
                <li><b>Set a date.</b> If there's interest, <b><a href="https://donate.mozilla.org/page/event/create/" class="external">pick a date for the next time!</a></b></li>
           </ul>

            <h5 class="sub_head">Let us know how it went</h5>
            
          <ul>
                <li> Please <b><a href="https://donate.mozilla.org/page/s/webmaker-event-host-feedback" class="external text" rel="nofollow">share your experience</a></b> about hosting the event and the projects, including links to the things you made. </li>
                <li> We'll send <b>an email reminder</b> after the event to collect your feedback. </li>
            </ul>
          
            <h5 class="sub_head">Getting Support</h5>
            
          <ul>
            <li><b>If you need help at any time before, during or after your event, <a href="{{ url('page', 'support') }}">please contact us</a></b>. We have a team of volunteers and staff members dedicated to helping organizers like you.</li>
            </ul>

            <p><a href="https://donate.mozilla.org/page/event/create/" class="button create">I'll host one!</a> <a href="mailto:mozparty@mozilla.org" class="button">I have a question</a></p>
        </section>
    </article>
</div>

{% endblock %}

{% block footer %}
{{ super() }}
{{ js('core_js') }}
{% endblock %}