{% extends "events/base.html" %}

{% block page_title %}How to host a Pop-Up | {{ super() }}{% endblock %}

{% block page_id %}guides-pop_up{% endblock %}
{% block page_class %}{{ super() }} guides-inner brochure-page{% endblock %}

{% block content %}
<div class="masthead">
    <h2 class="plaque">Guides</h2>
    <p>How to host</p>
</div>
<header class="event-type">
    <span class="thumb"><img src="{{ MEDIA_URL }}/img/{{ page_data.name|lower|replace(' ', '-') }}_stub.jpg" alt="" width="120" height="120" /></span>
    <h3>{{ page_data.name }}</h3>
    <p>{{ page_data.description }}</p>
    <nav class="guide_nav">
        <ul>
            <li><a href="{{ url('guides_kitchen_table') }}" class="next">how to host a kitchen table</a></li>
            <li><a href="{{ url('guides_hack_jam') }}" class="prev">how to host a hack jam</a></li>
        </ul>
    </nav>
</header>
<div class="major">
    <nav class="cf">
        <ol>
            <li><a href="#overview">Overview</a></li>
            <li><a href="#before">Before</a></li>
            <li><a href="#during">During</a></li>
            <li><a href="#after">After</a></li>
        </ol>
        <a href="https://donate.mozilla.org/page/event/create/" class="button create">Create an event</a>
    </nav>
    <article>
                <section id="overview">
                    <h4>Overview</h4>
                  <p>A <b>Pop Up</b> event:</p>
                          <ul>
                            <li><b>Brings together local organizations</b></li>
                            <li>to <b>host learning stations</b> that participants can sample.</li>
                        </ul>
                  
          <p>This guide will help! It's a <b>community document,</b> so please <a class="external text" href="https://donate.mozilla.org/page/s/webmaker-event-host-feedback">share your ideas to help improve it</a>. </p>
          
          <p>You can also see what <a class="external text" href="{{ url('page', 'news') }}">other hosts have done.</a>
</p>

            <h5 class="sub_head">Facts and figures</h5>
            {#
                Copy comes from VPN restricted admin section
            #}
            {{ page_data.figures|safe }}
        </section>
        <section id="before">
            <h4>Before</h4>

            <h5 class="sub_head">Engage local organizations</h5>
          
          <ul><li> <b>Research organizations in your city </b>that might be interested in this event. Ideally, the <b>participating organizations will share some core values,</b> such as the learning by making ethic, or the role of out-of-school educational initiatives. </li>
            <li> <b>Talk to them about their interests, goals, and activities.</b> How can this event help them? </li> 
            <li><b>Organizations agree to host a learning station,</b> i.e.  a simple table-top activity,  based on their programs. </li>
</ul>
          
           <h5 class="sub_head">Craft good learning stations</h5>
            <ul>
                <li><b>Work with the organizations to plan good stations.</b> Some recommednations:<ul>
                    <li> <em>Fun, short games or activities that teach you something about technology &amp; other skills</em></li>
                    <li> <em>Can be completed in 5min or expanded to an hour, as participants like</em></li>
                    <li> <em>Participants can easily float in and out, on a rolling basis</em>.</li>
                    <li> <em>Participants can easily share what they did afterwards</em></li>
                    <li> <em>Activities ar well documented and shared, for example on a website or wiki</em></li>
                </ul></li>
                <li> Set aside time for organizations to <b>see each other's activities and exchange ideas</b>.
</li>
          </ul>

                <h5 class="sub_head">Find a space and a date</h5>

                    <ul>
                        <li>Find a <b>comfortable, flexible space.</b> You'll need several tables for each station and room to move about.</li>
                        <li>Think about <b>wifi and power,</b> good lighting, and snacks.</li>
                        <li><b>Pick a date.</b> Give yourself enough time and make sure the date works for the organizations.</li>
                    </ul>

                <h5 class="sub_head">Spread the word</h5>

                    <ul>
                        <li><b>Write a short invitation</b>, and <b><a href="https://donate.mozilla.org/page/event/create/" class="external text">create a page for your event,</a></b></li>
                        <li><b>Share the link widely,</b> and encourage the participating organizations to <b>invite their communities.</b></li>
                        <li><b><a href="{{ url('events_content') }}">Read our guidelines on planning safe events</a></b></li>
                    </ul>
            </section>

        <section id="during">
            <h4>During</h4>

            <h5 class="sub_head">Welcome everyone</h5>

          <ul>
                <li> <b>Set up tables in a large circle.</b> Use posters or other signage to indicate the stations.</li> 
                <li> <b>Do a quick go-round.</b> Ask the station organizations to introduce their activities.</li>
                <li> Give a <b>brief overview.</b> Explain how the stations will work and what's in store for the day.</li>
          </ul>

            <h5 class="sub_head">Visit stations</h5>

          <ul>
                <li> <b>Participants sample the stations.</b></li> 
                <li> Encourage them to <b>follow their interests,</b> either staying at stations as long as they like or moving on.</li>
                <li> Remind facilitators to <b>welcome newcomers</b> and keep a good flow.</li>
          </ul>

          <h5 class="sub_head">Example Station: <a class="external text" href="/projects/make-your-own-meme/">Make a meme</a> &mdash; 10min </h5>
<a class="image" href="/projects/make-your-own-meme/"><img height="147" src="https://webmaker.org/media/partner_media/projects/meme-large.flyer.jpg" width="240" alt=""></a>
<ul><li>This project makes it easy for you to create your own memes by mashing up text and images. 
</li><li> Open <a class="external text" href="https://thimble.webmaker.org/en-US/projects/meme/edit">the project</a>. 
</li><li> Search for a funny photo online. Copy the URL of the image. 
</li><li> Replacing the link on line 32 with your new image URL.
</li><li> Now edit the text between the h1 and the h2 tags to give your image a new caption.
</li><li> If you want, you can keep adjusting the page by editing the other attributes, such as the background color. 
</li><li> Press "Publish" in the top right-hand corner. Share your work!
</li>
          </ul>
          
            <h5 class="sub_head">Share your hacks</h5>
         <ul>
                <li> After an hour or two, <b>bring the group into a circle.</b></li> 
                <li> <b>Celebrate what you made.</b> Invite a few participants to share their work.</li>
            <li> If you like, please <b> share your hacks with the world!</b>. You can publish the links to a blog or the social network of your choice. </li>
            <li><b>Please tag your work with #mozparty.</b></li>
        </ul>
           
        </section>


        <section id="after">
            <h4>After</h4>
            <h5 class="sub_head">Wrap Up</h5>

           <ul>
                <li> <b>Ask everyone how it went.</b> Encourage feedback about the event and the projects. What did they learn? What did they like? If they have suggestions for making it better, be sure to take notes or invite them to blog about it.</li>
                <li> <b>Talk about continuing to hack together.</b> You may want to keep playing with these stations or to try new ones later. Talk about what the participants would like to do next, such as organize another event.</li>
                <li><b>Set a date.</b> If there's interest, <b><a href="https://donate.mozilla.org/page/event/create/" class="external text" rel="nofollow">pick a date for the next time!</a></b></li>
            </ul>

            <h5 class="sub_head">Let us know how it went</h5>
            
          <ul>
                <li> Please <b><a class="external text" href="https://donate.mozilla.org/page/s/webmaker-event-host-feedback">share your experience</a></b> about hosting the event and the projects, including links to the things you made. </li>
                <li> We'll send <b>an email reminder</b> after the event to collect your feedback. </li>
            </ul>
          
                      <h5 class="sub_head">Getting Support</h5>
            
          <ul>
            <li><b>If you need help at any time before, during or after your event, <a href="{{ url('page', 'support') }}">please contact us</a></b>. We have a team of volunteers and staff members dedicated to helping organizers like you.</li>
            </ul>

            <p><a class="button create" href="https://donate.mozilla.org/page/event/create/">I'll host one!</a> <a class="button" href="mailto:mozparty@mozilla.org">I have a question</a></p>
        </section>
    </article>
</div>

{% endblock %}

{% block footer %}
{{ super() }}
{{ js('core_js') }}
{% endblock %}
