{% extends "base.html" %}

{% block page_id %}login{% endblock %}
{% block page_class %}section-events{% endblock %}

{% block content %}
<div class="masthead">
    <h2 class="plaque">Login</h2>
    <p>Create an account to enter an event</p>
</div>

{% if not user.is_authenticated() %} 
    <form method="POST" action="{{ url('browserid_verify') + post_verify_qs }}">
      {{ csrf() }}
      {{ browserid_form.as_p() }}
      <p>To add an event directly into our system you must first log in. Don't worry, this is super simple and all you need is an email address..</p>
      <a class="button create" id="browserid" href="#">Log in with browserID</a>
    </form>
    <script language="javascript" src="//browserid.org/include.js"></script>
    <script language="javascript">
      $(document).ready(function() {
          $('#browserid').bind('click', function(e) {
              e.preventDefault();
              navigator.id.getVerifiedEmail(function(assertion) {
                  if (assertion) {
                      var $e = $('#id_assertion');
                      $e.val(assertion.toString());
                      $e.parent().submit();
                  }
              });
          });
      });
    </script>
{% else %}
    <a class="logout" href="{{ url('logout') }}">{{ _("I'm a celebrity get me out of here") }}</a>
{% endif %}
{% endblock %}

{% block footer %}
{{ super() }}
{{ js('core_js') }}
{% endblock %}
