{% extends "projects/base.html" %}

{% block page_id %}project-detail{% endblock %}

{% block content %}
<div id="main">
    <h2>{{ project }}</h2>
    <img src="{{ project.image.poster_url }}" class="poster">

    {{ project.content }}

    {% if project.link %}<p class="buttons"><a href="{{ project.link }}" class="button more">Get Started</a></p>{% endif %}
</div>
<div class="meta" id="about">
    <h3>About this project</h3>
    <dl>
        {% if project.difficulties.count() %}
        <dt class="difficulty">Difficulty</dt>
        <dd>
            <ul>
                {% for difficulty in project.difficulties.all() %}
                    <li><a href="{{ difficulty.get_absolute_url() }}">{{ difficulty }}</a></li>
                {% endfor %}
            </ul>
        </dd>
        {% endif %}
        {% if project.topics.count() %}
        <dt class="topics">Topics</dt>
        <dd>
            <ul>
                {% for topic in project.topics.all() %}
                    <li><a href="{{ topic.get_absolute_url() }}">{{ topic }}</a></li>
                {% endfor %}
            </ul>
        </dd>
        {% endif %}
        {% if project.tools.count() %}
        <dt class="tool">Tool</dt>
        <dd>
            <ul>
                {% for tool in project.tools.all() %}
                    <li><a href="{{ tool.get_absolute_url() }}">{{ tool }}</a></li>
                {% endfor %}
            </ul>
        </dd>
        {% endif %}
        {% if project.skills.count() %}
        <dt class="skills">Skills</dt>
        <dd>
            <ul>
                {% for skill in project.skills.all() %}
                    <li><a href="{{ skill.get_absolute_url() }}">{{ skill }}</a></li>
                {% endfor %}
            </ul>
        </dd>
        {% endif %}
    </dl>
</div>
{% if project.contributor %}
<div class="meta" id="partner">
    {% if project.contributor.logo -%}
        {% if project.contributor.website %}<a href="{{ project.contributor.website }}">{% endif -%}
        <img src="{{ project.contributor.logo.url }}" alt="{{ project.contributor}}" title="">
        {%- if project.contributor.website %}</a>{% endif %}
    {%- endif %}
    <p>Contributed by {{ project.contributor }}</p>
</div>
{% endif %}
{% if project.previous or project.next %}
<div class="meta" id="related">
    <h3>Related Projects</h3>
    <ul>
        {% if project.previous -%}
            <li class="previous"><a href="{{ project.previous.get_absolute_url() }}">
                <img src="{{ project.previous.image.thumb_url }}" alt="{{ project.previous }}" title="">
            </a></li>
        {%- endif %}
        {% if project.next -%}
            <li class="next"><a href="{{ project.next.get_absolute_url() }}">
                <img src="{{ project.next.image.thumb_url }}" alt="{{ project.next }}" title="">
            </a></li>
        {%- endif %}
    </ul>
</div>
{% endif %}
{% endblock %}