{% extends "base.html" %}

{% block page_title %}ITU Grantees | ITU | {{ super() }}
{% endblock %}

{% block page_id %}itu_advocates{% endblock %}
{% block page_class %}content-page itu{% endblock %}

{% block content %}
<section>
    <header>
        <h2>Grantees</h2>
    </header>
    <div class="content columns">
        <div class="main col">
            <p><strong>Your Allies In The Fight For The Open Web</strong></p>
            <p>Mozilla has funded ten open web advocates from around the world to get involved and raise awareness about the ITU. They’re working on a number of different projects that may fit with your message, and many of them will be on the ground in Dubai. They're great allies if you have an idea and are looking for collaborators, or if you're looking to help with a project that is already moving ahead.</p>
            <p>To make it easy to search through, we've included a description of the projects by region and included the contact information of the people coordinating them below.</p>
            <p>Get in touch! If you'd like to contact any of the advocates who do not have their e-mails listed, send a message to <a href="mailto:tim@mozillafoundation.org">tim@mozillafoundation.org</a>.</p>
        </div>
        <div class="sidebar meta col">
            <h2 class="announce">Countries</h2>
            <ul>
                <li><a href="#africa">Africa</a></li>
                <li><a href="#asia">Asia</a></li>
                <li><a href="#europe">Europe</a></li>
                <li><a href="#south-america">South America</a></li>
            </ul>
        </div>
    </div>
</section>
<section id="africa">
    <header>
        <h2>Africa</h2>
    </header>
    <div class="content">
        <div class="vcard">
            <h3><strong class="fn">Romain Abile Houehou</strong> - Engaging African Consumers in Open Internet</h3>
            <div class="vcard-row">
                <h4>Organization:</h4> <a href="http://www.recatic.org/" class="org">African Ict Consumer Network (AICN)</a> 
            </div>
            <div class="vcard-row adr">
                <h4>Location:</h4> <span class="country-name">Benin</span> 
            </div>
            <div class="vcard-row project">
                <h4>Project:</h4>
                <p>Sensitizing consumer organizations of Internet services to push for their governments to support open Internet. The AICN will make available in French version the Baku IGF meeting report titled "Proposed ITR Revisions and Their Implications for Freedom of Expression Online" to sensitize consumers organizations from the 14 francophone countries of West Africa on the positions they may adopt when facing their governments concerning Dubai World Conference on International Telecommunications (WCIT). Following this action that will occur in the lead up to the conference, we will get into contact with African organizations on the ground in Dubai for organizing field actions during the conference.</p>
            </div>
        </div>
        <div class="vcard">
            <h3><strong class="fn">Jimson Olufuye</strong> - Participation in the Nigerian Delegation to WCIT</h3>
            <div class="vcard-row">
                <h4>E-mail:</h4> <a href="mailto:info@aficta.org" class="email">info@aficta.org</a>
            </div>
            <div class="vcard-row">
                <h4>Organization:</h4> <a href="http://www.aficta.org/" class="org">Africa ICT Alliance (AfICTA)</a> 
            </div>
            <div class="vcard-row adr">
                <h4>Location:</h4> <span class="country-name">Nigeria</span> 
            </div>
            <div class="vcard-row project">
                <h4>Project:</h4>
                <p>Jimson will be traveling as part of the Nigerian delegation to WCIT. He will be attending in support of the AfLCTA position and joining others to push for same or similarly progressive positions.</p>
            </div>  
        </div>
        <div class="vcard">
            <h3><strong class="fn">John Walubengo</strong> - Engage With The Kenya Government on the ITRs</h3>
            <div class="vcard-row">
                <h4>E-mail:</h4> <a href="mailto:jwalubengo@mmu.ac.ke" class="email">jwalubengo@mmu.ac.ke</a>
            </div>
            <div class="vcard-row">
                <h4>Organization:</h4> <a href="http://www.mmu.ac.ke/" class="org">Multimedia University College of Kenya</a> 
            </div>
            <div class="vcard-row adr">
                <h4>Location:</h4> <span class="country-name">Kenya</span> 
            </div>
            <div class="vcard-row project">
                <h4>Project:</h4>
                <p>John will be attending the WCIT as a member of the Kenyan delegation. He will be playing an advisory role in supporting open, multistakeholder approaches.</p>
            </div>
        </div>
    </div>
</section>
<section id="asia">
    <header>
        <h2>Asia</h2>
    </header>
    <div class="content">
        <div class="vcard">
            <h3><strong class="fn">Isriya Paireepairit</strong> - "How The Internet is Regulated" Article Series</h3>
            <div class="vcard-row">
                <h4>E-mail:</h4> <a href="mailto:markpeak@blognone.com" class="email">markpeak@blognone.com</a>
            </div>
            <div class="vcard-row">
                <h4>Organization:</h4> <a href="http://www.blognone.com/" class="org">Blognone</a> 
            </div>
            <div class="vcard-row adr">
                <h4>Location:</h4> <span class="country-name">Thailand</span> 
            </div>
            <div class="vcard-row project">
                <h4>Project:</h4>
                <p>Blognone.com is a leading Thai technology news site. Isriya will be producing a series of articles on how the Internet is regulated in Thai to explain the issues around the ITU/WCIT/ITR and their significance to Thai Internet users.</p>
            </div>
        </div>
        <div class="vcard">
            <h3><strong class="fn">Shyam Ponappa</strong> - Participation in the Indian Delegation to WCIT</h3>
            <div class="vcard-row">
                <h4>E-mail:</h4> <a href="mailto:shyamponappa@gmail.com" class="email">shyamponappa@gmail.com</a>
            </div>
            <div class="vcard-row">
                <h4>Organization:</h4> <a href="http://cis-india.org/" class="org">Centre for Internet and Society</a> 
            </div>
            <div class="vcard-row adr">
                <h4>Location:</h4> <span class="country-name">India</span> 
            </div>
            <div class="vcard-row project">
                <h4>Project:</h4>
                <p>Shyam is a member of the India delegation to WCIT. Mr. Ponappa will be attending to advocate for CIS’ view that the amendments to the ITRs be restricted to telecommunications services and telecommunications transport means. The Centre for Internet and Society (CIS) has a keen interest in participating in this conference in order to ensure a greater representation of civil society and try and prevent any undue expansion of the ITU’s role in internet governance without proper participation by all the stakeholders involved.</p>
            </div>
        </div>
        <div class="vcard">
            <h3><strong class="fn">Babu Ram Aryal</strong> - Panel Discussion on Nepalese Amendments at WCIT</h3>
            <div class="vcard-row">
                <h4>E-mail:</h4> <a href="mailto:babu@isoc.org.np" class="email">babu@isoc.org.np</a>
            </div>
            <div class="vcard-row">
                <h4>Organization:</h4> <a href="http://www.isoc.net.np/" class="org">ISOC Nepal</a> 
            </div>
            <div class="vcard-row adr">
                <h4>Location:</h4> <span class="country-name">Nepal</span> 
            </div>
            <div class="vcard-row project">
                <h4>Project:</h4>
                <p>Babu will be coordinating a discussion prior to WCIT with government representatives, ISOC members, and representatives in private industry to discuss the Nepalese position on the proposed amendments to be discussed in Dubai.</p>
            </div>
        </div>
        <div class="vcard">
            <h3><strong class="fn">Ahmed Swapan Mahmud</strong> - Public Dialogue on WCIT in Bangladesh</h3>
            <div class="vcard-row">
                <h4>Organization:</h4> <a href="http://www.voicebd.org/" class="org">VOICE</a> and <a href="http://www.internetsociety.org/" class="org">ISOC</a> 
            </div>
            <div class="vcard-row adr">
                <h4>Location:</h4> <span class="country-name">Bangladesh</span> 
            </div>
            <div class="vcard-row project">
                <h4>Project:</h4>
                <p>Ahmed will be organizing a public meeting on the eve of WCIT. This will be a public meeting with multi-stakeholder approach. They will invite government, law and policy makers, IT business companies, ISPs, mobile operators, human rights and media organizations, journalists, academicians, NGOs and CSOs The purpose is to raise public understanding on the proposed ITR amendments and their implications for freedom of expression online.</p>
            </div>
        </div>
    </div>
</section>
<section id="europe">
    <header>
        <h2>Europe</h2>
    </header>
    <div class="content">
        <div class="vcard">
            <h3><strong class="fn">Julia Velkova</strong> - Support Open and Free Internet Positions at the WCIT</h3>
            <div class="vcard-row">
                <h4>E-mail:</h4> <a href="http://webappl.web.sh.se/p3/ext/content.nsf/aget?openagent&key=sh_personal_profil_en_832804" class="url">Contact page</a>
            </div>
            <div class="vcard-row">
                <h4>Organization:</h4> <a href="http://www.isoc.bg/" class="org">Internet Society Bulgaria</a> and <a href="http://isocbg.wordpress.com/" class="org">Södertörn University Sweden</a> 
            </div>
            <div class="vcard-row adr">
                <h4>Location:</h4> <span class="country-name">Bulgaria</span> / <span class="country-name">Sweden</span> 
            </div>
            <div class="vcard-row project">
                <h4>Project:</h4>
                <p>Julia will be helping to bridge gaps between various delegations as a member of the Swedish delegation. She plans to provide expertise and other advice to delegations from ITU Region B (Europe) and C (Russia/CIS) in supporting open and free Internet positions at WCIT.</p>
            </div>
        </div>
        <div class="vcard">
            <h3><strong class="fn">Elena Zvarici</strong> - Inform and Engage on Romania's WCIT Position</h3>
            <div class="vcard-row">
                <h4>E-mail:</h4> <a href="mailto:elena.zvarici@isoc.ro" class="email">elena.zvarici@isoc.ro</a>
            </div>
            <div class="vcard-row">
                <h4>Organization:</h4> <a href="http://www.isoc.ro/" class="org">Internet Society Romania</a> 
            </div>
            <div class="vcard-row adr">
                <h4>Location:</h4> <span class="country-name">Romania</span> 
            </div>
            <div class="vcard-row project">
                <h4>Project:</h4>
                <p>Elena will be launching an article and accompanying infographic targeted at Romania's Internet community and decisionmakers to inform them on what the WCIT is, what will be discussed at the upcoming meeting, and how people can be involved in the process. Her aim is to advocate for a future with a more open, multistakeholder, participative process for discussing and contributing to Internet governance related issues.</p>
            </div>  
        </div>
    </div>
</section>
<section id="south-america">
    <header>
        <h2>South America</h2>
    </header>
    <div class="content">
        <div class="vcard">
            <h3><strong class="fn">Francisco Vera Hott</strong> - ¿Qué pasa en ITU?</h3>
            <div class="vcard-row">
                <h4>E-mail:</h4> <a href="mailto:francisco@derechosdigitales.org" class="email">francisco@derechosdigitales.org</a>
            </div>
            <div class="vcard-row">
                <h4>Organization:</h4> <a href="http://www.derechosdigitales.org/" class="org">ONG Derechos Digitales</a> 
            </div>
            <div class="vcard-row adr">
                <h4>Location:</h4> <span class="country-name">Chile</span> 
            </div>
            <div class="vcard-row project">
                <h4>Project:</h4>
                <p>Derechos Digitales is an independent, non-profit and non-governmental organization, founded in 2004, whose mission is to promote the defense and protection of human rights in the digital environment. <a href="http://www.queeslauit.org/">They will set up a small website</a> that work as a resource center related with ITU issues for Spanish speaking people, governments and organizations. The website will contain key documents and other material related with the ITU, translated and localized in Spanish.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
{{ super() }}
{{ js('core_js') }}
{{ js('video-tools') }}
{% endblock %}