{% extends "base.html" %}

{% block page_title %}ITU | {{ super() }}
{% endblock %}

{% block page_id %}itu_index{% endblock %}
{% block page_class %}content-page itu{% endblock %}

{% block content %}
<section class="hoc_intro">
    <header>
        <h2>ITU</h2>
    </header>
    <img class="stretch" title="ITU" src="{{ MEDIA_URL }}img/static_pages/itu.jpg" alt="" />
    <div class="content columns">
        <div class="col">
            <h2 class="announce">Make your voice heard on the ITU</h2>
            <p>The Web lets us speak out, share, and connect around the things that matter. It creates new opportunities, holds governments to account, breaks through barriers, and makes cats famous. This isn't a coincidence. It's because the Web belongs to all of us: We all get a say in how it's built.</p>
            <p>Mozilla has made it <a href="https://mozilla.org/mission/">our mission</a> to keep the power of the web in people's hands. But all this could change on December 3.</p>
            <p>Our governments are going to meet in Dubai to decide whether an old treaty, the International Telecommunication Union, can be expanded to regulate - to control - the Internet.</p>
            <p>The issue isn't whether our governments, the UN, or even the ITU should play a role in shaping the Web. The problem is that they are trying to do it behind closed doors, in secret, without us.</p>
            <p>We believe everyone should have a voice. And this site is to help you be heard in Dubai.</p>
        </div>
        <div class="col">
            <section class="your-say">
                <h2 class="announce">Have Your Say</h2>
                <ol>
                    <li>
                        <h3 class="whimper">Learn Why This Matters</h3>
                        <p>Read <a href="https://blog.mozilla.org/blog/2012/11/30/the-itu-and-you/">Mozilla's position on the ITU</a> and explore other <a href="{{ url('itu_kit') }}#the-issues">resources from across the Web</a>.</p>
                    </li>
                    <li>
                        <h3 class="whimper">Create Your Message</h3>
                        <p><a href="{{ url('itu_videos') }}">See what other people are saying</a> and <a href="https://www.webmaker.org/en-US/projects/roll-your-own-itu-activism-video/">make your own interactive video</a> to <a href="{{ url('itu_kit') }}#custom-message"> share your own ITU message</a>.</p>
                    </li>
                    <li>
                        <h3 class="whimper">Engage in the Conversation</h3>
                        <p>Get the word out! We've collected some channels and allies you can work with to <a href="{{ url('itu_kit') }}#activate">get people engaged</a> on- and offline.</p>
                    </li>
                </ol>
            </section>
            <section class="micro-grants">
                <h3 class="whimper">Micro-grants for Civil Society</h3>
                <p>We've provided support to 10 amazing open web advocates from around the world. <a href="{{ url('itu_advocates') }}">Check out their projects and get involved!</a></p>
            </section>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
{{ super() }}
{{ js('core_js') }}
{{ js('video-tools') }}
{% endblock %}