{% extends "base.html" %}

{% block page_title %}Videos | ITU | {{ super() }}
{% endblock %}

{% block page_id %}videos{% endblock %}
{% block page_class %}content-page itu{% endblock %}

{% block content %}
<section class="hoc_intro">
    <header>
        <h2>ITU Video remixes</h2>
    </header>
    <div class="content">
        <p>Read <a href="https://webmaker.org/projects/roll-your-own-itu-activism-video/">more about the original video</a>. Once you've remixed it we're collecting the best videos to feature here. Submit your remixes to <a href="mailto:tim@mozillafoundation.org">tim@mozillafoundation.org</a>!</p>
        <article>
            <h3>The original video</h3>
            <iframe src="http://popcorn.webmadecontent.org/1gr_" width="820" height="503" frameborder="0" mozallowfullscreen webkitallowfullscreen allowfullscreen></iframe>
        </article>
        <article>
            <h3>Mandarin Translation</h3>
            <iframe src="http://popcorn.webmadecontent.org/9kb_" width="820" height="503" frameborder="0" mozallowfullscreen webkitallowfullscreen allowfullscreen></iframe>
        </article>
        <article>
            <h3>Arabic Translation</h3>
            <iframe src="http://popcorn.webmadecontent.org/7qn_" width="820" height="503" frameborder="0" mozallowfullscreen webkitallowfullscreen allowfullscreen></iframe>
        </article>
        <article>
            <h3>German Translation</h3>
            <iframe src="http://popcorn.webmadecontent.org/1o5_" width="820" height="503" frameborder="0" mozallowfullscreen webkitallowfullscreen allowfullscreen></iframe>
        </article>
        <article>
            <h3>French Translation</h3>
            <iframe src="http://popcorn.webmadecontent.org/1n5_" width="820" height="503" frameborder="0" mozallowfullscreen webkitallowfullscreen allowfullscreen></iframe>
        </article>
        <article>
            <h3>Croatian Translation</h3>
            <iframe src="http://popcorn.webmadecontent.org/aq1_" width="820" height="503" frameborder="0" mozallowfullscreen webkitallowfullscreen allowfullscreen></iframe>
        </article>
    </div>
</section>
{% endblock %}

{% block footer %}
{{ super() }}
{{ js('core_js') }}
{{ js('video-tools') }}
{% endblock %}