{% extends "base.html" %}

{% block page_title %}ITU Engagement Kit | ITU | {{ super() }}
{% endblock %}

{% block page_id %}itu_kit{% endblock %}
{% block page_class %}content-page itu{% endblock %}

{% block content %}
<section>
    <header>
        <h2>ITU Engagement Kit</h2>
    </header>
    <div class="content columns">
        <div class="main col">
            <p><strong>So you’ve heard about the ITU, and want to get involved in spreading awareness about the meeting in Dubai? You’ve come to the right place!</strong></p>
            <p>This Engagement Kit provides resources for understanding what’s at stake and the tools to make a difference. It’s all about advocating for the rights of everyday web users to ensure we all have a voice in how the Internet is governed. This page will help you build a Popcorn video you can use to get people involved.</p>
        </div>
        <div class="sidebar meta col">
            <h2 class="announce">How It Works</h2>
            <ul>
                <li>Step 1 - <a href="#the-issues">Choose the issue that matters most to you</a></li>
                <li>Step 2 - <a href="#custom-message">Decide what you want people to do about it</a></li>
                <li>Step 3 - <a href="#activate">Create and share your message.</a></li>
            </ul>
        </div>
    </div>
</section>
<section id="the-issues">
    <header>
        <h2>Step 1 – Choose the Issue that Matters Most to You</h2>
    </header>
    <div class="content">
        <img class="stretch" title="ITU" src="{{ MEDIA_URL }}img/static_pages/itu.jpg" alt="" />
        <p><strong>The upcoming meeting of the ITU is called the World Conference of International Telecommunications (WCIT)</strong>. It's set to run from December 3-14, 2012, in Dubai. There are a lot of issues up for discussion. Use this section to figure out the ones that matter most to you.</p>
        <p>For a quick summary overview of what the ITU is and why this meeting of the WCIT is important, check out:</p>
        <ul>
            <li><strong><a href="https://www.whatistheitu.org/">'What Is The ITU.'</a></strong> A four-minute video rundown from Access Now and Fight for the Future.</li>
            <li><strong><a href="http://www.internetsociety.org/wcit">The Internet Society</a></strong> has this quick description on why the WCIT meeting is important.</li>
        </ul>
        <p><strong>Key Issues</strong></p>
        <ul>
            <li><strong>Transparency</strong><ul>
                <li><a href="https://www.cdt.org/blogs/cynthia-wong/1607itu-gives-nod-towards-transparency-still-long-road-full-civil-society-partici">ITU Gives A Nod Towards Transparency, Still A Long Road To Full Civil Society Participation</a> (Center for Democracy and Technology)</li>
                <li><a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=2110509">ITU and the Internet's Titanic Moment</a> (Stanford Technology Law Review)</li>
            </ul></li>
        </ul>
        <ul>
            <li><strong>Free Expression</strong><ul>
                <li><a href="https://s3.amazonaws.com/access.3cdn.net/07bd5aad9c0abb91ee_7am6b9hxs.pdf">Freedom of Expression Online and Revising the International Telecommunications Regulations</a> (Access Now)</li>
                <li><a href="http://publicknowledge.org/blog/itu-wcit-and-internet-freedom">ITU, WCIT, and Internet Freedom</a> (Public Knowledge)</li>
            </ul></li>
        </ul>
        <ul>
            <li><strong>Access to the Open Internet</strong><ul>
                <li><a href="https://www.cdt.org/files/pdfs/CDT_Analysis_ETNO_Proposal.pdf">ETNO Proposal Threatens To Impair Access To Open, Global Internet (PDF)</a> (Center for Democracy and Technology)</li>
                <li><a href="http://www.nytimes.com/2012/05/25/opinion/keep-the-internet-open.html?_r=0">Keep The Internet Open</a> (Vint Cerf)</li>
            </ul></li>
        </ul>
        <ul>
            <li><strong>Economic Impact and Global Development</strong><ul>
                <li><a href="http://lirneasia.net/wp-content/uploads/2012/09/Samarajiva-WCIT-Final_9.12.pdf">A Giant Step Backwards (PDF)</a> (LIRNEAsia)</li>
                <li><a href="https://www.cdt.org/paper/economic-impact-itrs">Economic Impact of the ITRs</a> (Center for Democracy and Technology)</li>
            </ul></li>
        </ul>
        <p><strong>Dig deeper</strong></p>
        <p>Useful resources for exploring further:</p>
        <ul>
            <li><a href="https://blog.mozilla.org/blog/2012/11/29/the-itu-and-you/">Mozilla's position on the ITU</a></li>
            <li><a href="http://africa-ig.wiki.apc.org/index.php/Main_Page">The Association for Progressive Communications</a></li>
            <li><a href="http://publicknowledge.org/issues/itu">Public Knowledge</a></li>
            <li><a href="https://www.cdt.org/issue/ITU">The Center for Democracy and Technology</a></li>
            <li><a href="https://www.accessnow.org/pages/itu">Access Now</a></li>
            <li><a href="http://wcitleaks.org/resources/">WCITLeaks</a></li>
        </ul>
    </div>
</section>
<section id="custom-message">
    <header>
        <h2>Step 2 – Decide What You Want People to Do</h2>
    </header>
    <div class="content">
        <img class="stretch" title="ITU" src="{{ MEDIA_URL }}img/static_pages/the-web.jpg" alt="" />
        <p>Now that you know what's at stake, what do you want people &#8211; your friends, colleagues, or community members &#8211; to do about it? Choose from the  options we've pulled together or create you own.</p>
        <p>You can ask people to&#8230;</p>
        <p><strong>A) Contact Their ITU Delegation</strong></p>
        <p><strong>Governments will be represented at the ITU by delegations from each country</strong>. These people will take part in the meetings, so ensuring they hear your voice is a good place to start.</p>
        <p>An international coalition of civil society groups has launched a tool that will let you send an e-mail directly to your country's ITU delegation. <a href="http://www.protectinternetfreedom.net/stand">You can access it here.</a></p>
        <p><strong>B) Mobilize on the Web</strong></p>
        <p>An international coalition of advocates and activists are bringing together as many web users as possible to make a joint declaration to the ITU for greater transparency and participation. Signing and spreading the word about these petitions will send a  clear message.</p>
        <ul class="indent">
            <li><strong><a href="http://protectinternetfreedom.net/">OpenMedia.ca: "Protect Internet Freedom."</a></strong>Asserts that Internet governance decisions "should be made in a transparent manner with genuine multi-stakeholder participation from civil society, governments, and the private sector".</li>
            <li><strong><a href="https://www.whatistheitu.org/">Access Now &amp; Fight For The Future: "What Is The ITU?"</a></strong> A rallying cry for individuals on the ground to demand that their governments not hand over web governance functions to the ITU.</li>
            <li><strong><a href="https://www.cdt.org/letter/sign-letter-opposing-itu-authority-over-internet">Center for Democracy and Technology: "Open Letter".</a></strong> Emphasizes the human rights issues surrounding the ITU's lack of transparency. Open to organizational sign-ons. Translated into multiple languages.</li>
            <li><strong><a href="https://www.google.com/takeaction/">Google: "Take Action".</a></strong> “A free and open world depends on a free and open Internet. Governments alone, working behind closed doors, should not direct its future.”</li>
            <li><strong><a href="http://bestbits.igf-online.net/statement/">Best Bits: &"Statement of Civil Society Groups and Members".</a></strong> A coalition of international civil society groups. This letter includes a number of specific policy statements and recommendations to the ITU.</li>
        </ul>
        <p><strong>C) Organize a Local Event</strong></p>
        <p>Mobilizing people on the ground in your community is a great way to engage in the conversation. <a href="{{ url('events') }}">Mozilla's Webmaker</a> platform makes it easy for you to schedule your own event and let others know about it. You can also collaborate with:</p>
        <ul class="indent">
            <li><strong>Mozilla Representatives ("ReMo").</strong> <a href="https://reps.mozilla.org/">ReMo</a> is a coalition of volunteer Mozillians around the world. They're plugged into local communities engaged with these issues, and are a good group to get in touch with if you're planning something.</li>
            <li><strong>Mozilla Micro-Grantees.</strong> We've funded ten open web advocates from around the world to get involved and raise awareness about the ITU. They're working on a number of different projects that may fit with your message, and some of them will be on the ground in Dubai. <a href="{{ url('itu_advocates') }}">Get in touch with them here</a>.</li>
        </ul>
    </div>
</section>
<section id="activate">
    <header>
        <h2>Step 3 – Create and Share Your Message</h2>
    </header>
    <div class="content">
        <p>You've chosen the issues you care about and you've decided what you want your friends to do about it.<strong> Now, you can craft and customize your own Popcorn video to get the word out. </strong>Some things to consider when creating your message:</p>
        <ul class="indent">
            <li><strong>What do you think about the WCIT and ITU?</strong> What concerns you the most?</li>
            <li><strong>How do you want the web to be governed?</strong></li>
            <li><strong>Target Audience:</strong> Who needs to hear about the ITU? Who can you get involved?</li>
            <li><strong>Local Needs:</strong> What will make the ITU relevant to your local community?</li>
            <li><strong>Call to Action:</strong> What do you want people to do? How will they do it?</li>
            <li><strong>Sharing:</strong> How do you make the message sharable? Is there someone that others can do to help you spread the word?</li>
            <li><strong>Language:</strong> Have you translated the video into your local language?</li>
        </ul>
        <p>In collaboration with <a href="https://www.accessnow.org/">Access Now</a> and <ahref="http://www.fightforthefuture.org/">Fight for the Future</a>, we've put together an interactive video about the ITU that you can customize for your own needs and share with others. <strong><a href="https://www.webmaker.org/en-US/projects/roll-your-own-itu-activism-video/">Just click here and you'll be editing your own video in minutes.</a></strong></p>
        <p>If making a Popcorn video isn't your thing you could write a blog post, share your message on social media, or just start talking to your friends in your local community about what's going on.</p>
    </div>
</section>
<section id="and_finally">
    <header>
        <h2>Finally: Activate! Get involved and share your message with others.</h2>
    </header>
</section>
{% endblock %}

{% block footer %}
{{ super() }}
{{ js('core_js') }}
{{ js('video-tools') }}
{% endblock %}