{% extends "events/base.html" %}

{% block page_title %}Privacy Policy | {{ super() }}{% endblock %}
{% block page_id %}privacy{% endblock %}
{% block section_type %}events legal{% endblock %}

{% block content %}
<div class="words">
<h2>Mozilla Webmaker Events Platform Privacy Policy</h2>
<div class="note">
<p><em>Note:</em> The Privacy Policy for the Events Platform is currently under review and comment on <a href="http://groups.google.com/group/mozilla.governance/topics">our governance mailing list</a>.  We will update this Privacy Policy once review and comment is completed.</p>
<p><em>May 16, 2012</em><p>
</div>

<p>Mozilla hosts a platform to promote a wide variety of events related to webmaking.  We list our own events and also offer the ability for others to list events that encourage people to come together to teach, meet, learn, and share.</p>

<p>This top section is a summary of Mozilla’s privacy practices for the Mozilla Webmaker Events Platform (the “Events Platform”). Please be sure to read the entire document, because when you use the Events Platform to search for, host, attend events or otherwise, you are indicating you are ok with our whole privacy policy, not just this summary:</p>

<ul>
<li>If you choose to make your event public, anyone will be able to view its location and timing.</li>
<li>This privacy policy only applies to Mozilla’s handling of your information - it does not apply to third parties who may collect information at third party events or otherwise.</li>
<li>By registering for an event, you should expect to receive some communications related to the event, and can choose to receive additional communications.</li>
<li>Event hosts will often have some choices about the event communications they send and receive.</li>
<li>Photos are often taken at events and may be posted to photo sharing and social networking sites.  Mozilla’s policies govern how we take and use these photos and you should read any third party policies regarding photos and consents when you attend their events.</li>
<li>Any feedback you provide about an event may be posted publicly.</li>
<li>Mozilla does not rent or sell your information to anyone.</li>
</ul>

<p>This policy describes how Mozilla handles the information we collect about you when you use the Events Platform. We have separate privacy policies for our other products and services.</p>

<h3>Personal Information</h3>

<p>For us, “personal information” is either:</p>

<ul class="faux_ol">
<li>1. information which identifies you, like your name or email address; <em>or</em></li>
<li>2. a combination of several pieces of information which couldn’t identify you on their own, but which could become identifiable to you when combined.</li>
</ul>

<p>If we store personal information with other information that is not personal, we treat the combination like personal information.</p>

<p>We consider information that does not fall within the definition of personal information to be “non-personal information”. If we remove all personal information from a set of data we have about you, we treat the remaining as non-personal information.</p>

<h3>Cookies and Clear GIFs</h3>

<p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns to allow the website to “recognize” the browser. Clear gifs (also known as web beacons) are used in combination with cookies to help website operators understand how visitors interact with their websites.  The term usually used to describe this is "web analytics" and the cookies and clear gifs are the tools by which a website owner collects this web analytics data.</p>

<p>Mozilla uses the information provided by cookies and clear gifs to develop a better understanding of how Mozilla's visitors use Mozilla's websites, and to facilitate those visitors' interactions with Mozilla's websites. Mozilla’s HTML formatted emails may use clear GIFs to help us determine the number of people who open our emails and click on the links within our emails.</p> 

<p>You have the ability to accept or decline cookies. Mozilla visitors who do not wish to have cookies placed on their computers by Mozilla, its contractors, or third-party service providers should set their browsers to refuse cookies before linking to the Events Platform. The Events Platform may not function properly without the aid of cookies.</p>

<h3>How we learn information about you</h3>

<p>There are four general ways we get information about you: </p>

<ul class="faux_ol">
<li>1. You give it to us directly (like when you register to host or attend one of our events); </li>
<li>2. We collect it automatically, (like when our servers log your IP address); </li>
<li>3. We try and understand more about you based on information you’ve already given us (like guessing that you’re in the US because you have a US IP address)</li>
<li>4. Someone else tells us something about you (like when you import an event from another events platform);</li>
</ul>

<p>To attend or host an event, we may ask you to register by providing information such as your first and last name, email, address and zip code.  To host an event, you may give us information such as the location where your event will take place, the title and description of your event, the date, time, and length of your event, the event venue name and maximum number of attendees. You may also provide us with feedback about the event.</p>
 
<p>If you attend Mozilla events, you may be asked to consent to your photo being taken at the event. We may post these photos to promote the event. You can request that we remove a photo by contacting the organizer of that Mozilla event.</p>

<h3>What we do with your info</h3>

<p>We use your information to help us provide the Events Platform to you, including  to communicate with you about the event and to help us improve future events.  We may also use information, such as comments or photos, to help promote the event, share the event, or inform others about the event.</p>

<p>When you give us personal information, we will only use it for the reasons we told you about when you gave it to us, including as described in this policy.</p>

<h3>When we share your info</h3>

<p>Mozilla is an open organization.  We publicly release de-identified user information to make our products better and help foster an open web, but only in a way that we think respects the privacy of our users.</p>

<p>Whenever we publicly release information about our users in this way, unless we get your consent to release more, we’ll remove information that we believe can identify you and try to disclose it in a way we believe minimizes the risk of you being re-identified.  For example, if we share your comments about the event, we will do so without revealing your name, unless we ask your permission to do so first.</p>

<p>We may post photos from Mozilla events on photo sharing and social networking sites.   You can request removal of a photo by contacting the event organizer.</p>

<p>We may share your personal information with employees, contractors, partners and service providers, but only if they are contractually obligated to handle the data in ways that are approved by Mozilla. If our organizational structure or status changes (like if we undergo a restructuring, are acquired, or go bankrupt) we’ll pass on your information to a successor or affiliate.</p>

<p>We may also access, use, preserve or disclose information about you when we have a good faith belief that it is reasonably necessary to do so to protect the rights, property or safety of Mozilla, its users or the public.</p>

<p><strong>Mozilla does not rent or sell your personal information to anyone.</strong></p>

<p>Any feedback you provide about an event may be posted publicly.</p>

<h3>Legal Process</h3>

<p>When a government agency or someone involved in a lawsuit asks for your personal info, we'll only give it to them if we have a good faith belief that:</p>

<ul>
<li>the law requires us to, <em>or</em></li>
<li>it is reasonably necessary to do so to prevent harm to someone.</li>
</ul>

<p>We follow the law whenever we receive requests like this about you and we'll notify you any time we are asked to hand over your personal info like this, unless we're legally prohibited from doing so or circumstances require otherwise.</p>

<p>We may also access, use, preserve or disclose information about you when we have a good faith belief that it is reasonably necessary to do so to protect the rights, property or safety of Mozilla, its users or the public.</p>

<h3>How we store and protect your info</h3>

<p>We take steps to make sure that anyone (like an employee or contractor) we show your personal information has a good reason to see it and is only allowed to do Mozilla-approved things with it.</p>

<p>Despite our efforts, we can't guarantee that hackers can't break in and access your data. If we find out about a security breach, we'll try hard to let you know so that you can take appropriate protective steps. We only keep information as long as we need to do the thing we collected it for. Once we don't need it any more, we'll destroy it unless we are forced by law to keep it longer.</p>

<h3>Hosting an event</h3>

<p>When you register to host an event:</p>

<ul class="faux_ol">
<li> (i) you can often select whether you want to make your event public.  If you do choose to make your event public, you should expect that anyone can view the location and timing of your event.</li>
<li>(ii) you will often be able to make choices about the email that you and your attendees receive.  For example, you may be able to choose whether to receive email when attendees sign up for your event, whether and when to send reminder message to your attendees, and you may have the option to send either a default RSVP message or customize your own.</li>
</ul>

<h3>Communications about the event</h3>

<p>When you register as either a host or an attendee, you should expect to receive some communications related to the event, such as event confirmations and reminders.</p>

<p>You can often choose to share an event through email, Facebook, or Twitter sharing functionalities on the event page.  These functionalities are designed not to share your information directly with these companies, where possible.</p>

<h3>International Privacy</h3>

<p>Privacy laws and expectations vary from country to country. We’re a global organization and our computers are in several different places around the world. We also use service providers whose computers may also be in various countries. This means that any information we have about you might end up on one of those computers in another country, and that country may have a different level of data protection regulation than yours.</p>

<p>By registering to host or attend an event, you consent to the transfer of your information as described above.</p> 

<h3>Children</h3>

<p>If you are under 13, you must not provide us with your personal information. If you are a parent and believe that your child who is under 13 has provided us with personally identifiable information, please <a href="mailto:joinmozilla@mozilla.org">contact us</a> to have your child’s information removed.</p>

<p>If you are 13-17, with parental permission and supervision, you may register to host or attend some events.  We encourage you and your parents to read the safety tips at <a href="{{ url('events_guidelines') }}">Event Guidelines</a>.</p>

<h3>Changes to this policy</h3>

<p>Sometimes, we change our privacy policies. When we do, we’ll post a notice about the change at <a href="{{ url('events_privacy') }}">privacy-page</a> and try to notify you in other appropriate ways.</p> 

<h3>Contact us</h3>

<p>If you want to make a correction to your information, or you have any questions about our privacy policies, please get in touch with:</p>

<address>
Mozilla Corporation <br /> 
Attn: Legal Notices -- Privacy <br />
650 Castro Street, Suite 300 <br />
Mountain View,<br />
CA 94041-2072
</address>

<p>Phone: +1-650-903-0800</p>
<p>Email: joinmozilla at mozilla dot org</p>

</div>
{% endblock %}
