{% extends "events/base.html" %}

{% block page_id %}error{% endblock %}
{% block page_class %}{{ super() }} guides-inner brochure-page{% endblock %}

{% block content %}

<header class="event-type">
    <span class="thumb"><img src="{{ MEDIA_URL }}/img/error_stub.jpg" alt="" width="120" height="120" /></span>
    <h3>Oops</h3>
</header>
<div class="major">
    <article>
        <section id="overview">
            <h4>Page not found :(</h4>
            
            <p>The page that you're looking for may have been moved or deleted. Make sure to check your spelling.</p>

            <h5 class="sub_head">You could also go directly to:</h5>

            <ul>
                <li><a href="https://donate.mozilla.org/page/event/create/">Create an event</a></li>
                <li><a href="{{ url('events.search') }}">Search for an event near you</a></li>
                <li><a href="{{ url('guides_all') }}">Check out our event guides</a></li>
            </ul>
        </section>
    </article>
</div>

{% endblock %}

{% block footer %}
{{ super() }}
{{ js('core_js') }}
{% endblock %}
