{% extends "base.html" %} 

{% block page_title %}Server Error (500) | {{ super() }}{% endblock %}

{% block page_id %}error{% endblock %}
{% block page_class %}{{ super() }} guides-inner brochure-page{% endblock %}

{% block header %}
<div id="header">
    <div class="constrained">
        <h1><a href="{{ url('splash') }}"><img src="/media/img/header_logo.png" alt="Mozilla Webmaker" width="218" height="64" /></a></h1>
        <a id="tabzilla" href="http://www.mozilla.org/">from Mozilla</a>
        <ul>
            <li class="projects"><a href="{{ url('projects') }}">Projects</a></li>
            <li class="tools"><a href="{{ url('tools') }}">Tools</a></li>
            <li class="events"><a href="{{ url('events') }}">Events</a></li>
            <li class="about"><a href="{{ url('page', 'about') }}">About</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}

<header class="event-type">
    <span class="thumb"><img src="/media/img/error_stub.jpg" alt="" width="120" height="120" /></span>
    <h3>Oh dear...</h3>
</header>
<div class="major">
    <article>
        <section id="overview">
            <h4>Something has just happened that our server wasn't very happy with</h4>
            
            <p>It might have been just a temporary blip so please try doing whatever you just did again. Otherwise it might be a larger issue that we can ensure you we're likely looking at fixing right now.</p>

            <p>Many apologies for the inconvenience.</p>

            <h5 class="sub_head">You could also try directly going to:</h5>

            <ul>
                <li><a href="https://donate.mozilla.org/page/event/create/">Create an event</a></li>
                <li><a href="{{ url('events.search') }}">Search for an event near you</a></li>
                <li><a href="{{ url('guides_all') }}">Check out our event guides</a></li>
            </ul>
        </section>
    </article>
</div>

{% endblock %}

{% block footer %}
<div id="footer">
    <div class="constrained">
        <div class="col">
            <h2><img src="/media/img/footer_logo.png" alt="Mozilla Webmaker" width="129" height="39" /></h2>
        </div>
        <div class="col">
            <h3>About</h3>
            {% block legal_links %}
            <ul>
                <li><a href="{{ url('page', 'about') }}">About Us</a></li>
                <li><a href="mailto:mozparty@mozilla.org">Contact Us</a></li>
                <li><a href="http://www.mozilla.org/privacy/websites/">Privacy Policy</a></li>
                <li><a href="http://www.mozilla.org/about/legal.html">Legal Notices</a></li>
            </ul>
            {% endblock %}
        </div>
        <div class="col">
            <h3>Connect with us</h3>
            <ul>
                <li><a href="{{ url('page', 'news') }}">News</a></li>
                <li><a href="{{ url('page', 'support') }}">Support</a></li>
                <li><a href="http://twitter.com/mozilla/">Twitter</a></li>
                <li><a href="https://www.facebook.com/mozilla/">Facebook</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Make something</h3>
            <ul>
                <li><a href="{{ url('projects') }}">Projects</a></li>
                <li><a href="{{ url('tools') }}">Tools</a></li>
                <li><a href="{{ url('events') }}">Events</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Support our work</h3>
            <ul>
                <li><a href="https://donate.mozilla.org/page/contribute/join-mozilla?source=join_link">Donate</a></li>
                <li><a href="https://mozillalabs.com/en-US/">Contribute</a></li>
                <li><a href="https://donate.mozilla.org/page/contribute/firefoxtshirt">Buy a t-shirt</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}