<!DOCTYPE html>
<!--[if (lt IE 9)]><html class="no-js bad-ie" lang="{{ LANG }}" dir="{{ DIR }}"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="{{ LANG }}" dir="{{ DIR }}"><!--<![endif]-->
    <head>
        <title>{% block page_title %}Mozilla Webmaker{% endblock %}</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="//www.mozilla.org/tabzilla/media/css/tabzilla.css">
        {% block site_css %}
            {{ css('make_devices') }}
        {% endblock %}
        {{ css('make_desktop', 'all and (min-width: 30em)') }}
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            {{ css('make_desktop') }}
        <![endif]-->
        {{ js('jquery') }}
    </head>
    <body id="{% block page_id %}generic-page{% endblock %}" class="{% block page_class %}section-{% block section_type %}global{% endblock %}{% endblock %}">
        <script>
            document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, '');
        </script>
        {% block header %}{% include "header.html" %}{% endblock %}
        {% block content_wrapper -%}
        <div id="content">
            <div class="constrained">
                {% block content %}{% endblock %}
            </div>
        </div>
        {%- endblock %}
        {% block footer %}
        <div id="footer">
            <div class="constrained">
                <h2><img src="{{ MEDIA_URL }}img/footer_logo.png" alt="Mozilla Webmaker" width="129" height="39" /></h2>
                <div class="col">
                    <h3>About</h3>
                    {% block legal_links %}
                    <ul>
                        <li><a href="{{ url('about') }}">About Us</a></li>
                        <li><a href="mailto:joinmozilla@mozilla.org">Contact Us</a></li>
                        <li><a href="http://www.mozilla.org/en-US/privacy-policy.html">Privacy Policy</a></li>
                        <li><a href="http://www.mozilla.org/en-US/about/legal.html">Legal Notices</a></li>
                    </ul>
                    {% endblock %}
                </div>
                <div class="col">
                    <h3>Connect with Us</h3>
                    <ul>
                        <li><a href="http://twitter.com/mozilla/">Twitter</a></li>
                        <li><a href="https://www.facebook.com/mozilla/">Facebook</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Make Something!</h3>
                    <ul>
                    {% if waffle.switch('phase_2') %}
                        <li><a href="">Projects</a></li>
                        <li><a href="">Tools</a></li>
                    {% endif %}
                        <li><a href="{{ url('events') }}">Events</a></li>
                    </ul>
                    <h3>Your stuff</h3>
                    <ul>
                    {% if not (request.user and request.user.is_authenticated()) %}
                        <li><a href="{{ login_url() }}">Log in</a></li>
                    {% endif %}
                    {% block admin_menu_items %}
                    {% endblock %}
                    {% if request.user and request.user.is_authenticated() %}
                        <li><a href="{{ url('logout') }}">Log out</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
        <script src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
        {% if not waffle.switch('no_track') %}
        <!-- START OF SmartSource Data Collector TAG v10.2.0 -->
        <!-- Copyright (c) 2012 Webtrends Inc.  All rights reserved. -->
        <script src="{{ MEDIA_URL }}js/webtrends_include.js"></script>
        <noscript><img alt="dcsimg" id="dcsimg" width="1" height="1" src="//statse.webtrendslive.com/dcskwfzfcvz5bdn0s9jvut4xm_7u5b/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=10.2.0&amp;dcssip=www.webmaker.org"/></noscript>
    <!-- END OF SmartSource Data Collector TAG v10.2.0 -->
        {% endif %}
    </body>
</html>