<!DOCTYPE html>
<!--[if (lt IE 9)]><html class="no-js bad-ie" lang="{{ LANG }}" dir="{{ DIR }}"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="{{ LANG }}" dir="{{ DIR }}"><!--<![endif]-->
    <head>
        <title>{% block page_title %}Mozilla Webmaker{% endblock %}</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="//www.mozilla.org/tabzilla/media/css/tabzilla.css">
        {% block site_css %}
            {{ css('make_devices') }}
        {% endblock %}
        {{ css('make_desktop', 'all and (min-width: 30em)') }}
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            {{ css('make_desktop') }}
        <![endif]-->
        {{ js('jquery') }}
    </head>
    <body id="{% block page_id %}generic-page{% endblock %}" class="{% block page_class %}section-{% block section_type %}global{% endblock %}{% endblock %}">
        <script>
            document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, '');
        </script>
        {% block header %}{% include "header.html" %}{% endblock %}
        {% block content_wrapper -%}
        <div id="content">
            <div class="constrained">
                {% block content %}{% endblock %}
            </div>
        </div>
        {%- endblock %}
        {% block footer %}{% include "footer.html" %}{% endblock %}
        <script src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
    </body>
</html>
