<div id="footer">
    <div class="constrained">
        <h2>make.mozilla</h2>
        <div class="col">
            <h3>About</h3>
            <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="http://www.mozilla.org/en-US/privacy-policy.html">Privacy Policy</a></li>
                <li><a href="http://www.mozilla.org/en-US/about/legal.html">Legal Notices</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Connect with Us</h3>
            <ul>
                <li><a href="http://twitter.com/mozilla/">Twitter</a></li>
                <li><a href="https://www.facebook.com/mozilla/">Facebook</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Make Something!</h3>
            <ul>
                {% if waffle.switch('phase_2') %}
                <li><a href="">Projects</a></li>
                <li><a href="">Tools</a></li>
                {% endif %}
                <li><a href="{{ url('events') }}">Events</a></li>
            </ul>
        </div>
    </div>
</div>
