<div id="footer">
    <div class="constrained">
        <h3>make.mozilla</h3>
        <div class="col">
            <h4>About</h4>
            <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Legal Notices</a></li>
            </ul>
        </div>
        <div class="col">
            <h4>Connect with Us</h4>
            <ul>
                <li><a href="">Twitter</a></li>
                <li><a href="">Facebook</a></li>
            </ul>
        </div>
        <div class="col">
            <h4>Make Something!</h4>
            <ul>
                <li><a href="">Projects</a></li>
                <li><a href="">Tools</a></li>
                <li><a href="">Events</a></li>
            </ul>
        </div>
    </div>
</div>