<div id="footer">
    <div class="constrained">
        <h2>make.mozilla</h2>
        <div class="col">
            <h3>About</h3>
            <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Legal Notices</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Connect with Us</h3>
            <ul>
                <li><a href="">Twitter</a></li>
                <li><a href="">Facebook</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Make Something!</h3>
            <ul>
                <li><a href="">Projects</a></li>
                <li><a href="">Tools</a></li>
                <li><a href="">Events</a></li>
            </ul>
        </div>
    </div>
</div>