<div id="header">
    <div class="constrained">
        <h1><a href="{{ url('splash') }}"><span>Mozilla</span> Webmakers</a></h1>
        <a id="tabzilla" href="http://www.mozilla.org/">from Mozilla</a>
        <ul>
            {% if waffle.switch('phase_2') %}
            <li class="projects"><a href="">Projects</a></li>
            <li class="tools"><a href="">Tools</a></li>
            {% endif %}
            <li class="events"><a href="{{ url('events') }}">Events</a></li>
        </ul>
    </div>
</div>
