<div id="header">
    <div class="constrained">
        <h1><a href="{{ url('splash') }}"><img src="{{ MEDIA_URL }}img/header_logo.png" alt="Mozilla Webmaker" width="240" height="64" /></a></h1>
        <a id="tabzilla" href="http://www.mozilla.org/">from Mozilla</a>
        <ul>
            {% if waffle.switch('phase_2') %}
            <li class="projects"><a href="{{ url('projects') }}">Projects</a></li>
            <li class="tools"><a href="">Tools</a></li>
            {% endif %}
            <li class="events"><a href="{{ url('events') }}">Events</a></li>
        </ul>
    </div>
</div>
