<div id="header">
    <div class="constrained">
        <h1><a href="{{ url('splash') }}"><img src="{{ MEDIA_URL }}img/header_logo.png" alt="Mozilla Webmaker" width="218" height="64" /></a></h1>
        <a id="tabzilla" href="http://www.mozilla.org/">from Mozilla</a>
        <ul>
            <li class="projects"><a href="{{ url('projects') }}">Projects</a></li>
            <li class="tools"><a href="{{ url('tools') }}">Tools</a></li>
            <li class="events"><a href="{{ url('events') }}">Events</a></li>
            {% if waffle.switch('teach_in_nav') %}
                <li class="teach"><a href="{{ url('page', 'teach') }}">Teach</a></li>
            {% endif %}
            {% if waffle.switch('party_in_nav') %}
                <li class="party"><a href="{{ url('page', 'party') }}">Party</a></li>
            {% else %}
                <li class="about"><a href="{{ url('page', 'about') }}">About</a></li>
            {% endif %}
        </ul>
    </div>
</div>
