{% extends "base.html" %}

{% block section_type %}homepage{% endblock %}

{% block content %}
<div class="amuse">
    <ol class="pager">
    	<li>
        	<img src="http://placehold.it/1200x600/333/444" alt="" />
        	<a href="http:mozilla.org/webmaker/videos/" class="pager-text">
        		<h2 class="pager-title">Make the webmakers</h2>
        		<p><strong>Let's teach the world the web.</strong> Meet some of the global community making it happen.</p>	
        	</a>
        </li>
    </ol>
    <ol class="pager-controls">
        <li><a href="#" class="current">● <span>read about "foo"</span></a></li>
        <li><a href="#">● <span>read about "foo"</span></a></li>
        <li><a href="#">● <span>read about "foo"</span></a></li>
        <li><a href="#">● <span>read about "foo"</span></a></li>
    </ol>
</div>
<div class="veg">
    <section class="wrap tools">
        <ul>
            <li>
                <a href="#">
                    <h2 class="list-title">Thimble App</h3>
                    <img src="{{ MEDIA_URL }}img/tools/default.gif" alt="" />
                </a>
                <p>Remix, hack, make and share everything</p>
            </li>
            <li>
                <a href="#">
                    <h2 class="list-title">X-Ray Googles</h3>
                    <img src="{{ MEDIA_URL }}img/tools/default.gif" alt="" />
                </a>
                <p>Look under the hood and hack the web.</p>
            </li>
            <li>
                <a href="#">
                    <h2 class="list-title">Popcorn</h3>
                    <img src="{{ MEDIA_URL }}img/tools/default.gif" alt="" />
                </a>
                <p>Make videos work like the web.</p>
            </li>
        </ul>
    </section>
    <section class="wrap social">
    <form action="https://donate.mozilla.org/page/s/webmaker" method="post">
        <h2 class="side-title">Get Webmaker updates</h2>
        <div class="form-fields">
            <input type="text" name="email" id="email" placeholder="Your email here" />
            <p><input type="checkbox" name="custom-1216" id="custom-1216" />
            <label class="help" for="custom-1216">I'm okay with you handling this info as you explain in your <a href="http://www.mozilla.org/en-US/privacy-policy.html">Privacy Policy</a></label></p>
        </div>
        <input type="submit" name="submit-btn" class="button find" value="Sign me up" />
    </form> 
    <section class="share">
                <h2 class="side-title">Follow</h2>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                <ul>
                    <li>
                        <a href="https://twitter.com/mozilla" class="twitter-follow-button" data-show-count="false">Follow @mozilla</a>
                    </li>
                    <li>
                        <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwebmaker.org&amp;send=false&amp;layout=button_count&amp;width=160&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:160px; height:21px;" allowTransparency="true"></iframe>
                    </li>
                </ul>
            </section>
    </section>
</div>
<div class="meat">
	<div class="wrap columns">
		<div class="col main">
			<section class="projects">
				<header>
					<h2><a href="{{ url('projects') }}">Webmaker Projects</a></h2>
					<p>Make something amazing with the web</p>
				</header>
                <div class="featured">
				<ul>
                    {% for p in projects %}
					<li>
						<a href="{{ p.get_absolute_url() }}">
							<img src="{{ p.image.featured_url }}" alt="" />
							<h3 class="list-title">{{ p }}</h3>
						</a>
                        {% if p.contributor %}
						<footer><p>Contributed by Tumblr</p></footer>
                        {% endif %}
					</li>
                    {% endfor %}
                </ul>
				<a href="{{ url('projects') }}" class="more">See all Webmaker projects</a>
                </div>
			</section>
		</div>
		<div class="col aside">
			<section class="news">
				<h2 class="side-title">Webmaker news</h2>
                <ol>
                    {% for n in news %}
                    <li>
                        <a href="{{ n.link }}">
                            {% if loop.first and n.get_feature_image() %}
                                {{ n.get_feature_image()|safe }}
                            {% endif %}
                            <p>{{ n.updated.strftime('%B %e, %Y') }}</p>
                            <h3 class="list-title">{{ n.title }}</h3>
                        </a>
                    </li>
                    {% endfor %}
                </ol>
                <p><a href="http://planet.drumbeat.org/">Plannet Webmaker</a> | <a href="http://planet.drumbeat.org/rss20.xml">RSS</a></p>
			</section>
			<section class="tweets">
				<h2 class="side-title">@mozilla</h2>
                <div class="tweet"></div>
			</section>
            <section class="events">
                <header>
                    <h2><a href="{{ url('events') }}">Events</a></h2>
                </header>
                <ol>
                    {% for e in events %}
                    <li class="vevent">
                        <time>{{ e.start.strftime('%B') }} <span>{{ e.start.strftime('%e') }}</span></time>
                        <h3 class="list-title"><a href="{{ e.event_url }}">{{ e.name }}</a></h3>
                        <p class="location">{{ e.venue }}</p>
                    </li>
                    {% endfor %}
                </ol>
                <a class="button find" href="https://donate.mozilla.org/page/event/create/">Create your own event</a>
            </section>
		</div>
	</div>
</div>
<div class="cheese">
    <section class="wrap all-mozilla">
        <h2>Building a generation of webmakers</h2>
        <blockquote>
            <p>"Mozillans are people who make things. Moving from consumption to creation is Mozilla's goal."</p>
            <cite><img src="{{ MEDIA_URL }}img/mitchell-photo.jpg" alt="" /><em>Mitchell Baker</em>, Mozilla Chair and Chief Lizard Wrangler</cite>
        </blockquote>
        <a class="lozenge" href="{{ url('page', 'about') }}">Learn more</a>
        <div class="other-makers">
            <h3>Other Mozilla Webmaker websites:</h3>
            <div id="mozilla-carousel" class="carousel slide">
            <div class="carousel_inner">
            <ul class="maker_partners">
                <li class="active item">
                <ul>
                    <li><a href="#"><img src="{{ MEDIA_URL }}img/partner-popcorn.gif" alt="popcorn" /></a></li>
                    <li><a href="#"><img src="{{ MEDIA_URL }}img/partner-ignite.gif" alt="mozilla ignite" /></a></li>
                    <li><a href="#"><img src="{{ MEDIA_URL }}img/partner-opennews.gif" alt="mozilla opennews" /></a></li>
                    <li><a href="#"><img src="{{ MEDIA_URL }}img/partner-hive.gif" alt="hive NYC" /></a></li>
                </ul>
                </li>
                <li class="item">
                <ul>
                    <li><a href="#"><img src="{{ MEDIA_URL }}img/partner-opennews.gif" alt="mozilla opennews" /></a></li>
                    <li><a href="#"><img src="{{ MEDIA_URL }}img/partner-hive.gif" alt="hive NYC" /></a></li>
                    <li><a href="#"><img src="{{ MEDIA_URL }}img/partner-popcorn.gif" alt="popcorn" /></a></li>
                    <li><a href="#"><img src="{{ MEDIA_URL }}img/partner-ignite.gif" alt="mozilla ignite" /></a></li>
                </ul>
                </li>
            </ul>
            <a class="carousel-control left" href="#mozilla-carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#mozilla-carousel" data-slide="next">&rsaquo;</a>
            </div>
            </div>
        </div>
    </section>
</div>
<div class="fish">
	<section class="wrap partners">
		<h2>Mozilla Webmaker is generously supported by the following:</h2>
        <div id="partner-carousel" class="carousel slide">
        <div class="carousel_inner">
		<ul class="maker_partners">
			<li class="active item">
                <ul>
                    <li><a href="#"><img src="{{ MEDIA_URL }}img/partner-popcorn.gif" alt="popcorn" /></a></li>
			         <li><a href="#"><img src="{{ MEDIA_URL }}img/partner-ignite.gif" alt="mozilla ignite" /></a></li>
			         <li><a href="#"><img src="{{ MEDIA_URL }}img/partner-opennews.gif" alt="mozilla opennews" /></a></li>
			         <li><a href="#"><img src="{{ MEDIA_URL }}img/partner-hive.gif" alt="hive NYC" /></a></li>
                </ul>
            </li>
            <li class="item">
                <ul> 
                     <li><a href="#"><img src="{{ MEDIA_URL }}img/partner-opennews.gif" alt="mozilla opennews" /></a></li>
                     <li><a href="#"><img src="{{ MEDIA_URL }}img/partner-hive.gif" alt="hive NYC" /></a></li>
                     <li><a href="#"><img src="{{ MEDIA_URL }}img/partner-popcorn.gif" alt="popcorn" /></a></li>
                     <li><a href="#"><img src="{{ MEDIA_URL }}img/partner-ignite.gif" alt="mozilla ignite" /></a></li>
                </ul>
            </li>
		</ul>
        <a class="carousel-control left" href="#partner-carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#partner-carousel" data-slide="next">&rsaquo;</a>
        </div>
        </div>
        <p class="shout">and Mozillians like you</p>
	</section>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
    {% block scripts %}
        {{ js('homgepage_js') }}
    {% endblock %}
{% endblock %}